/***alert_list.html***/
.alert_body_div{
	margin:10px;
	height:25px;
	width:600px;
}
.alert_group_vehicle{
	float:left; 
	height:22px;
	margin-left:8px;
}
.alert_select{
	width: 150px;
}
.alert_deal_advice{
	float:left;
	height:20px;
	margin-left:8px;
}
.alert_deal_advice_title{
	float:left;
	font-size:12px;
	height:12px; 
	margin-top:6px;
}
.alert_deal_dadvice_checkbox{
	float:left;
	font-size:12px; 
	height:12px;
	margin-top:3px;
}
.alert_yes_no_deal{
	float:left;
	font-size:11px; 
	height:12px;
	margin-top:8px;
}
.alert_alert_jqgrid{
	margin-top:20px;
	height:310px;
	width:56%;
	font-size:12px;
}
.alert_dialog{
	padding:20px;
	background-color:#fff;
	display: none; 
	font-size:12px;
}

/***alert_write_opinion.html***/

.alert_advice_title{
	font-weight:700;
	font-size:12px;
}
.alert_write_opinion{
	 width:310px; 
	 height:340px;
}
.alert_vechicle_div{
	height:25px;
	width:100%;
	margin-top:6px;
}
.alert_vechicle_num{
	width:25%;
	height:60%; 
	text-align:right;
	margin-top:6px;
	float:left;
}
.alert_vechicle_input{
	width:70%; 
	height:100%;
	float:left;
	margin-left:3px;
}
.alert_advice_select{
	width:70%;
	height:100%;
	float:left;
	margin-left:4px;
}
.alert_advice_div{
	margin-top:6px;
	height:168px;
	width:100%;
   }
.alert_add_advice{
	height:170px; 
	width:100%;
	 margin-top:6px;
   }
.alert_advice_content{
   	font-weight:700;
    font-size:12px;
}
.alert_advice_textarea{
	height:160px; 
	width:200px;
}
.alert_button_div{
	text-align:center;
	margin:0 auto;
	width:200px;
	height:30px;
	margin-top:10px;
}
.alert_advice_delete{
	margin-top:3px; 
	height:20px; 
	width:160px;
}
.maskReuslt{
	height:30px;
	width:180px;
}
-->