	.func-type{
		margiin-top：50px;
	}
	.func-type a:link {
		color: #0088FF;
        text-decoration: none; 
	}
	.func-type a:visited {
		color: #0088FF;
        text-decoration: none; 
	}
	.func-type a:hover {
		color: #0000FF;
        text-decoration: none; 
		font-weight:bold;
	}
	
	.func-type a:active {
		color: #0088FF;
        text-decoration: none; 
	}
	
	.func-type ul{
		margin-left:50px;
		margin-top:50px;
		margin-bottom:50px;
	}
	
	.func-type ul li{
		float:left;
		display:inline;
		text-align:left;
		margin-right:50px;
	}
	
	.shade{position:relative;} 
	
	.func_type_text{
		margin-top:15px;
		text-align:center;
		font-size:14px;
	}