<style>
	.create_info{
		margin:25px auto; 
		text-align:center;
		font-size:13px;
	} 
	.txr{text-align:right;}
	.mt5{margin-top:5px;}
</style>

<div id="region">	
	<iframe id="region_frame" name="region_frame" src="templates/51map.html"
		 style="width:99%;height:400px" 
		marginwidth="0" marginheight="0" scrolling="no" frameborder="0" align='top'></iframe> 
</div>

<div>
	<input type="hidde" id="region" />
</div>

<div id="create_info" class="create_info">
	<table align="center">
		<tr>
			<td class="txr">
				区域名称：
			</td>
			<td><input type="text" id="region_name" /></td>
		</tr>
		<tr class="mt5">
			<td class="txr">
				最小经度：
			</td>
			<td>
				<input type="text" id="xMin" />
			</td>
		</tr>
		<tr class="mt5">
			<td class="txr">
				最小纬度：
			</td>
			<td><input type="text" id="yMin" /></td>
		</tr>
		<tr class="mt5">
			<td class="txr">
				最大经度：
			</td>
			<td><input type="text" id="xMax" /></td>
		</tr>
		<tr class="mt5">
			<td class="txr">
				最大纬度：
			</td>
			<td><input type="text" id="yMax" /></td>
		</tr>
		<tr class="mt5">
			<td class="txr">
				备注：
			</td>
			<td><input type="text" id="description" /></td>
		</tr>
		<tr>
			<td class="mt5" align="center" colspan="2">
				<input type="button" id="region_submit" value="保存" />
			</td>
		</tr>
	</table> 
		 
</div>

<div id="region_mask"></div>

<script type="text/javascript" src="js/region/region.js"></script>