<style>
	tr{
		border:1px solid gray;
		margin-top:25px;
	}
	.narrow{
		width:80px;
		height:20px;
		margin-left:3px;	
		font-size:15px;
	}
	
	.wide{
		width:200px;
		height:20px;
		margin-left:3px;	
		font-size:15px;
	}
	
	.manage_create{
		margin:25px auto; 
		text-align:center;
		font-size:13px;
	} 
	.txr{text-align:right;}
	.mt5{margin-top:5px;}
	
	*{font-family:Tahoma, Arial, Helvetica, Sans-serif,"宋体";}
	.table{
		width:100%;
		margin:0px auto;
		font:Georgia 11px;
		font-size:12px;
		color:#333333;
		text-align:center;
		border-collapse:collapse;/*细线表格代码*/
	}
	.table td{
		border:1px solid #999;/*细线表格线条颜色*/
		height:22px;
	}
	.cr{color:red;}
	.w180{width:180px;}
	.w120{width:120px;}
	.w80{width:80px;}
	.w40{width:40px;}
	.fs12{font-size:12px;}
	.fl{float:left;} 
	.table tr.t1 td {background-color:#fff;}
	.table tr.t2 td {background-color:#eee;}
	.table tr.t3 td {background-color:#ccc;}
	.table th,tfoot tr td{font-weight:bold;text-align:center;background:#c5c5c5;}
	.table th{line-height:30px;height:30px;} 
</style>

<div style="margin:10px 0 0 0;height:350px;OVERFLOW-Y:auto;">
	<table class="table">
		<thead>
			<th class="w80">区域名称</th>
			<th class="w40">创建用户</th>
			<th class="w120">创建时间</th>
			<th class="w180">备注</th>
			<th class="w40"></th>
			<th class="w40"></th>
			<th class="w40"></th>
		</thead>
		<tbody id="manage_tab">
			{{regiones}}
		</tbody>
	</table>
</div>

<div id='regiondiv' title="查询车辆" showWidth="800" showHeight="400"></div>

<div id="manage_region" style="margin-top:5px;">
	<iframe id="manage_frame" name="manage_frame" src="" 
		 style="width:99%;height:400px" 
		marginwidth="0" marginheight="0" scrolling="no" frameborder="0" align='top'></iframe> 
</div>

<!-- 隐藏域  存放要查看的区域的经纬度信息 -->
<div id="manage_lnglat">
	<ul style="text-align:center">
		<li style="margin-top:25px;">
			<input type="hidden" id="manage_xMin" /><br/>
			<input type="hidden" id="manage_yMin" /><br/>
			<input type="hidden" id="manage_xMax" /><br/>
			<input type="hidden" id="manage_yMax" /><br/>
			<input type="hidden" id="manage_id" /><br/>
		</li>
	</ul>
</div>


<div id="manage_create" class="manage_create"> 
	<table align="center">
		<tr>
			<td class="txr">
				最小经度：
			</td>
			<td>
				<input type="text" id="create_xMin" />
			</td>
		</tr>
		<tr class="mt5">
			<td class="txr">
				最小纬度：
			</td>
			<td><input type="text" id="create_yMin" /></td>
		</tr>
		<tr  class="mt5">
			<td class="txr">
				最大经度：
			</td>
			<td><input type="text" id="create_xMax" /></td>
		</tr>
		<tr class="mt5">
			<td class="txr">
				最大纬度：
			</td>
			<td><input type="text" id="create_yMax" /></td>
		</tr>
		<tr class="mt5">
			<td class="mt5" align="center" colspan="2">
				<input type="button" id="manage_submit" value="保存" />
			</td>
		</tr>
	</table> 
</div>

<script type="text/javascript" src="js/region/region.js"></script>