<!-- <link type="text/css" href="css/tabs.bottom.css" rel="stylesheet" /> -->
<div id="statistic_driver_tabs" style="overflow:auto;overflow-y:hidden;overflow-x:hidden;">
  <ul>
	<li><a href="index.php?a=416&driver_driving_id={{driverid}}&driver_driving_name={{drivername}}"><span>驾驶员开车信息</span></a></li>
	<li><a href="index.php?a=417&driver_stop_id={{driverid}}&driver_stop_name={{drivername}}"><span>驾驶员停车信息</span></a></li>
  </ul>
</div>	
<script type="text/javascript">
	$("#statistic_driver_tabs").tabs();
</script>