
<div style="height:360px; width:870px;font-size:12px;">
	<div style="height:27px; width:800px; margin-bottom:10px;font-size:12px;">
		<div style="font-weight:700;float:left; height:18px;margin-top:3px;">
			查询开始时间:
		</div>
		<div style="float:left; height:25px;margin-left:5px;">
			<input type="text" name="vehicle_begin_data" id="vehicle_begin_data" size="20px" />
		</div>
		<div style="font-weight:700;float:left; height:18px;margin-top:3px; margin-left:40px;">
			查询结束时间:
		</div>
		<div style="float:left; height:25px;margin-left:5px;">
			<input type="text" name="vehicle_end_data" id="vehicle_end_data" size="20px" />
		</div>
		
		<div style="float:left; height:25px; margin-left:15px;" id="vehicle_sel">
		    <input type="button"  onclick="select_vehicle_data();" value="选择要查询的车辆" width="200px" />
		</div>	
		
		<div style="float:left; height:25px; margin-left:15px;">
			<input type="button" value="查询" onclick="condition_vehicle_data()"  width="140px" />		
		</div>
			
	</div>
	<table id="vehicle_statistic_table" style="font-size:12px;"></table>
	<div id="vehicle_statistic_div" style="font-size:12px;"></div>
</div>

<input type="hidden" value="{{VEHICLE_ID}}" id="vehicle_id_value" name="vehicle_id_value" />
<script type="text/javascript">//判断查询按钮是否隐藏
if({{VEHICLE_ID}}!="-1"){
	document.getElementById('vehicle_sel').style.display="none";
}
 var array_id=""; 

	var day = new Date();  		
   	var Year = 0;
   	var Month = 0;
   	var Day = 0;

    //初始化时间最初时间
	var CurrentDate = "";
   	Year= day.getFullYear();
   	Month= day.getMonth()+1;	   	
   	CurrentDate += Year + "/";
   	if (Month >= 10){
    	CurrentDate += Month + "/";
   	}else{
    	CurrentDate += "0" + Month + "/";
   	}  		   
    CurrentDate += "01";		   	
   	CurrentDate += " 00:00:00";
	$("#vehicle_begin_data").attr("value",CurrentDate); 


    //初始化最后时间
	var CurrentDateValue = "";
 
   	Day = day.getDate();
   	Hour = day.getHours();
 	Minute = day.getMinutes();
	Second = day.getSeconds();
	CurrentDateValue += Year + "/";
   	if (Month >= 10){
   		CurrentDateValue += Month + "/";
   	}else{
   		CurrentDateValue += "0" + Month + "/";
   	}
   	if (Day >= 10 ){
   		CurrentDateValue += Day +" ";
   	}else{
   		CurrentDateValue += "0" + Day+" " ;
   	}
   	if(Hour>=10){
   		CurrentDateValue+=Hour+":";
	}else{
		CurrentDateValue+="0"+Hour+":";
   	}if (Minute >= 10 ){
   		CurrentDateValue += Minute +":";
   	}else{
   		CurrentDateValue += "0" + Minute+":" ;
   	}
   	if(Second>=10){
   		CurrentDateValue+=Second;
	}else{
		CurrentDateValue+="0"+Second;
   	}
   	$("#vehicle_end_data").attr("value",CurrentDateValue);  	
</script>

<script>
    
	$("#vehicle_begin_data").datetimepicker( {
		ampm : false,//上午下午是否显示  
		timeFormat : 'hh:mm:ss',//时间模式  
		stepHour : 1,//拖动时间时的间隔  
		stepMinute : 1,//拖动分钟时的间隔  
		//stepSecond: 1,//拖动秒时的间隔
		dateFormat : "yy/mm/dd", //日期格式设定  
		showHour : true,//是否显示小时，默认是true  
		showMinute : true,
		showSecond : false,
		createButton : false
	});

	$("#vehicle_end_data").datetimepicker( {
		ampm : false,//上午下午是否显示  
		timeFormat : 'hh:mm:ss',//时间模式  
		stepHour : 1,//拖动时间时的间隔  
		stepMinute : 1,//拖动分钟时的间隔  
		//stepSecond: 1,//拖动秒时的间隔
		dateFormat : "yy/mm/dd", //日期格式设定  
		showHour : true,//是否显示小时，默认是true  
		showMinute : true,
		showSecond : false,
		createButton : false
	});

	
	function condition_vehicle_data() {
	     if("{{VEHICLE_ID}}"!="-1"){
	    	 array_id="{{VEHICLE_ID}}";	    		 
	     }
		$("#vehicle_statistic_table").jqGrid().setGridParam({url : "index.php?a=409&begin_data="+$("#vehicle_begin_data").val()
		+"&end_data="+$("#vehicle_end_data").val()+"&select_vehicle="+array_id,page:1}).trigger("reloadGrid");		
	}

	
	  //查看数据详细内容vehicle_detail_listvehicle_statistic_content_val
	function show_vehicle(id){
		$("#vehicle_statistic_content").dialog({height:500,width:900,title:'车辆详细信息',
			                 autoOpen:true,hide:'blind',show:'blind'}); 		                	 			                 
					    $("#vehicle_statistic_content").html("");
						$("#vehicle_statistic_content").mask("处理中...");
						$.post("index.php?a=413&vehicle_id="+id,function(data){
						$("#vehicle_statistic_content").html(data);
						$("#vehicle_statistic_content").unmask();
		});
	  }
	
	 //查看数据详细内容
	function show_driver(id){
		$("#driver_statistic_content").dialog({height:500,width:900,title:'驾驶员详细信息',
			                 autoOpen:true,hide:'blind',show:'blind'}); 		                	 			                 
	    $("#driver_statistic_content").html("");
		$("#driver_statistic_content").mask("处理中...");
		$.post("index.php?a=410&driver_id="+id,function(data){	
			$("#driver_statistic_content").html(data);
			$("#driver_statistic_content").unmask();
		});
  }


	//点击要查询的车辆
	function select_vehicle_data(){
			$("#select_statistic_content").dialog({height:350,width:700,title:'选择要查询的车辆',
	            autoOpen:true,hide:'blind',show:'blind'}); 		                	 			                 
	        $("#select_statistic_content").html("");
	        $("#select_statistic_content").mask("处理中...");

		$.post("index.php?a=1&array_ID="+array_id,function(data){	
		$("#select_statistic_content").html(data);

		$("#sel_vehicle_commit").click(function(){
			var vehicles = $(".vehicle:checked");
	     	var str="";
	     	vehicles.each(function(i){
		     	if(str != ""){
					str += ",";
			    }
         		str += $(this).val();
	      	});
	     	    array_id=str;
		      	$('#select_statistic_content').dialog('close');  
		      	condition_vehicle_data(); 
		 });		
		$("#select_statistic_content").unmask();	
	});
  }
</script>
<script src="js/statistic/vehicle.js" type="text/javascript"></script>