<link type="text/css" href="css/tabs.bottom.css" rel="stylesheet" />

<div id="statistic_tabs" style="overflow:auto;overflow-y:hidden;overflow-x:hidden;width:900px;height:444px;">
	<ul>
		<li><a href="index.php?a=402"><span>车辆统计</span></a></li>
		<li><a href="index.php?a=404"><span>驾驶员统计</span></a></li>
	</ul>
</div>

<div id="vehicle_statistic_content"></div><!--车辆详细信息内容 -->
<div id="driver_statistic_content"></div><!-- 驾驶员详细信息内容 -->
<div id="select_statistic_content"></div><!-- 选车内容 -->
	
<script type="text/javascript">
	$("#statistic_tabs").tabs();
	$(".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *")
	.removeClass("ui-corner-all ui-corner-top")
	.addClass("ui-corner-bottom");
</script>
