
<div style="height:360px; width:870px;font-size:12px;">
	<div style="height:27px; width:600px; margin-bottom:10px;">
		<div style="font-weight:700;float:left; height:18px;margin-top:3px;">
			查询开始时间:
		</div>
		<div style="float:left; height:25px;margin-left:5px;">
			<input type="text" name="vehicle_begin_data" id="vehicle_begin_data" size="20px" />
		</div>
		<div style="font-weight:700;float:left; height:18px;margin-top:3px; margin-left:40px;">
			查询结束时间:
		</div>
		<div style="float:left; height:25px;margin-left:5px;">
			<input type="text" name="vehicle_end_data" id="vehicle_end_data" size="20px" />
		</div>
		<div style="float:left; height:25px; margin-left:15px;">
			<input type="button" value="查询" onclick="condition_vehicle_data()"  width="140px" />
		</div>
	</div>
	<table id="navgrid_vehicle" style="font-size:12px;"></table>
	<div id="pagernav_vehicle" style="font-size:12px;"></div>
</div>

<div id="dialog"></div>


<script src="js/statistic/vehicle.js" type="text/javascript"></script>
<script>
	$("#vehicle_begin_data").datetimepicker( {
		ampm : false,//上午下午是否显示  
		timeFormat : 'hh:mm:ss',//时间模式  
		stepHour : 1,//拖动时间时的间隔  
		stepMinute : 1,//拖动分钟时的间隔  
		//stepSecond: 1,//拖动秒时的间隔
		dateFormat : "yy/mm/dd", //日期格式设定  
		showHour : true,//是否显示小时，默认是true  
		showMinute : true,
		showSecond : false,
		createButton : false
	});

	$("#vehicle_end_data").datetimepicker( {
		ampm : false,//上午下午是否显示  
		timeFormat : 'hh:mm:ss',//时间模式  
		stepHour : 1,//拖动时间时的间隔  
		stepMinute : 1,//拖动分钟时的间隔  
		//stepSecond: 1,//拖动秒时的间隔
		dateFormat : "yy/mm/dd", //日期格式设定  
		showHour : true,//是否显示小时，默认是true  
		showMinute : true,
		showSecond : false,
		createButton : false
	});

	
	function condition_vehicle_data() {
		$("#navgrid_vehicle").jqGrid().setGridParam({url : "index.php?a=409&begin_data="+$("#vehicle_begin_data").val()
			+"&end_data="+$("#vehicle_end_data").val(),page:1}).trigger("reloadGrid");		
	}

	
	  //查看数据详细内容
	function show_vehicle(id){
		$("#detail").dialog({height:800,width:1050,title:'车辆详细信息',
			                 autoOpen:true,hide:'blind',show:'blind'}); 		                	 			                 
	    $("#detail").html("");
		$("#detail").mask("处理中...");
		$.post("index.php?a=413&vehicle_id="+id,function(data){
			$("#detail").html(data);
			$("#detail").unmank();
		});
	}

	
</script>