<div class="func-type">
<ul>
<li>
<a href="index.php?a=402" class="func_type_btn" title="车辆统计" showWidth="900" showHeight="400">
<img src="images/selectCar.png" height="120" class="shade"/><div class="func_type_text">车辆统计</div>
</a></li>
<li>
<a href="index.php?a=404" class="func_type_btn"  title="驾驶员统计" showWidth="900" showHeight="400">
<img src="images/driver.png" height="120" class="shade"/><div class="func_type_text">驾驶员统计</div>
</a></li>
</ul>
</div>

<script language="javascript" src="js/func_select.js" ></script>