<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<link type="text/css" href="css/jquery.loadmask.small.css"  media="screen" rel="stylesheet" />
	
	<style type="text/css">
	<!--
		#delay{width:400px;}
		ul li {margin-top:10px;margin-bottom:10px;list-style-type:none}
		-->	
	</style>	
</head>
<body>	
	<div id='delay'>
	 	<form action="">
			<ul>
				<li>
					原&nbsp;&nbsp;密&nbsp;&nbsp;码:<input type="password" id="old_password"></input><span id="old_show" style="color:red"></span>
				</li>
				<li>
					新&nbsp;&nbsp;密&nbsp;&nbsp;码:<input type="password" id="new_password_one"></input><span id="new_one_show" style="color:red"></span>
				</li>
				<li>
					确认密码:<input type="password" id="new_password_two"></input><span id="new_two_show" style="color:red"></span>
				</li>
				<li>
					<input type="button" value="确定" id="pass_commit"></input>
					<input type="reset" id="reset_password"></input>
				</li>
			</ul>
		</form>
	<!-- 加载用户 js 文件库 --> 
		<script language="javascript" src="js/jquery.loadmask.min.js" ></script>
		<script src="js/password/password.js" type="text/javascript"></script>
	</div>
</body>
</html>
