<link type="text/css" href="css/tabs.bottom.css" rel="stylesheet" />
	
<div id="inquire_tabs" style="overflow:auto;overflow-y:hidden;overflow-x:hidden;width:890px;height:470px;">
	<ul>
		<li><a href="index.php?a=501">车辆当前状态</a></li> 
		<li><a href="index.php?a=352&logic=1">查询历史信息</a></li>
	</ul>
</div>
	
<script type="text/javascript">
			$("#inquire_tabs").tabs();
			$(".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *")
			.removeClass("ui-corner-all ui-corner-top")
			.addClass("ui-corner-bottom");
</script>
