{{HEADER}}
<style>
	.map_control{width:100%;height:25px;margin-top:2px; }
	.body_div{width:110%;}
	.track_info{width:85px;margin-top:5px;height:10px;}
	.radio_div{height:20px;width:300px;font-size:12px;font-weight:700;}
	.select_time{height:12px;width:70px;float:left;margin-top:5px;}
	.speed_control{height:23px;width:850px;margin-top:5px;}
	.speed_content{width:380px;height:20px;float:left;}
	.time_input{height:12px;width:90;}
	.select_area_vhicle{height:20px;width:80px;float:left;}
	.jindu_div{height:12px; width:26px;margin-top:3px;margin-left:4px;}
	.start_div{height:12px;margin-top:3px;margin-right:2px;}
	.end_time{height:12px;margin-top:3px;margin-right:2px;}
	.end_div{height:22px;margin-right:2px;}
	.start_input{height:22px;margin-right:2px;}
	.play_content{width:6%; height:22px;float:left;}
	.info_select_vehicle{height:22px;float:left;margin-top:2px;}
	.vehicle_info{height:22px; margin-left:3px; float:left;margin-top:2px;}
	.control_map{margin-top:5px;width:100%; height:23px;font-size:12px; font-weight:700;}
	.progress_content{margin-left:3px;height:22px;float:left;margin-right:2px;}
	.fase_content{height:12px; width:13px;margin-top:3px;margin-left:2px;}
	.slow_div{height:12px;width:13px;margin-top:3px;margin-right:2px;}
	.area_content{height:22px;float:left;}
	.date_option{width:350px;}
	.keep_left{float:left;font-size:12px;font-weight:700;}
	.slow_speed{width:40px; height:12px;margin-top:5px;text-align:center;}	
	.spacing{margin:0px 5px 0px 5px;}	
	.font{font-size:12px;font-weight:700;}
	#cur_run_time{width:100px;height:10px;margin-top:5px;}
	#show_time{width:45px;margin-left:2px;font-weight:700;margin-top:5px;text-align:center;}
	.location_info_content{font-size:12px;border:1px #99CCFF solid; border-top:none; margin-top:0px;height:220px; width:99%;}
	.location_div{height:16px;margin-top:8px;border:0px red solid;}
	.location_info_tc{width:100%;float:left;height:15px;margin-top:8px;}
	.location_title{width:25%; float:left;height:15px;text-align:right;font-weight:700;}
	.location_content{width:64%;float:left;height:15px;}
	.location_info_tile{height:25px;text-align:center;width:100%;}
	.location_info_show{width:75%;;height:12px;margin-top:8px;font-size:14px;}
	.location_info_operate{width:25%;height:12px;margin-top:8px;font-size:14px;}
	.hand{cursor:hand;}
</style>
<div style="left:0px;height:100%;width:110%;">
	<div class="body_div" >
		<div id='his' class="radio_div">
			<input type="radio" name='history' id='history_trace' checked/>查询历史轨迹
			<input type="radio" name='history' id="history_post" />查询历史发布信息
		</div>
		
		<div id="control_map" class="control_map">
			<div class="area_content">
				<div class="start_div keep_left">开始时间：</div>
				<div class="start_input keep_left">
					<input type="text" id="inquire_startTime" size="16"/>
				</div>
				<div class="end_time keep_left">结束时间：</div> 
				<div class="end_div keep_left">
					<input type="text" id="inquire_endTime" size="16"/>
				</div>
			</div>
			
			<div class="area_content">
				<div class="area_content">
					<input type="button" id="his_info" name="his_info" value="查询发布历史"></input>
				</div>
				<div class="info_select_vehicle" >
					<span id='info_select_vehicle'>{{FUNCTION_OPERATE}}</span>
				</div>
				<div class="vehicle_info">
					<select id="vehicle_info">{{vehicle_list}}</select>
				</div>
			</div>
			
			<div id="progress_content" class="progress_content">
				 	<div class="slow_div keep_left">慢</div>
					<div id="cur_run_time" class="keep_left"></div>
					<div class="fase_content keep_left">快</div>
					<div class="jindu_div keep_left">进度</div> 
					<div class="track_info keep_left" id="history_progress"></div>
			</div> 
			<!-- <div class="play_content">
					<input type="button" id="show_vehicles" value="显示区域内车辆"></input>
					<img alt="播放" id="play_history" src="images/play.png" class="hand"/>
					<img alt="暂停" id="suspend_history" class="hand" style="display:none;" src="images/suspend.png" /> 
					<img alt="停止" id="stop_history" src="images/stop.png" class="hand"/> 
			</div>
			 -->
			 
			 <div class="play_content">
			 	<input type="button" id="show_vehicles" value="显示区域内车辆"></input>
				<button id="play_history" style="width:20px;height:20px;">播放</button>
				<button id="stop_history" style="width:20px;height:20px;">停止</button> 
			 </div>
			
		</div>
	</div> 
	<div class="keep_left spacing"></div>
	<div id="drag">
		<div id='his_infoes'>
			<table id='infoes'></table>
			<div id="pagernav_infoes"></div>
		</div>
		
		<div id="show_area" style="display:none">
			<table id="show_vehicles_page" style="width:880px;"></table>
			<div id="page_show"></div>
		</div>
		<div id="areas">
			<iframe id="mode_area"  style="width:900px;height:410px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"></iframe>
			<div id="area_vehicles"></div>
		</div>
		<div class="toggler" id="location_info">
				<div id="effect" class="ui-widget-content ui-corner-all">
					<div class="ui-widget-header ui-corner-all cursor_style">
						<div class="location_info_tile">
								 <div class="keep_left location_info_show">定位信息</div>
								 <div class="keep_left location_info_operate">
								 		<a id="dragger" href="#">[隐藏]</a>
								 </div>
						</div>
					
					</div>
					<div class="location_info_content">
						<div class="location_info_tc">
							<div class="location_title">车牌号:</div>
							<div id="vehicle_id" class="location_content">&nbsp;</div>
						</div>
						<div class="location_info_tc">
							<div class="location_title">GPS编号:</div>
							<div id="gps_id" class="location_content">&nbsp;</div>
						</div>
						<div class="location_info_tc">
							<div class="location_title">方向:</div>
							<div id="direction" class="location_content">&nbsp;</div>
						</div>
						<div class="location_info_tc">
							<div class="location_title">速度:</div>
							<div id="speed" class="location_content">&nbsp;</div>
						</div>
						<div class="location_info_tc">
							<div class="location_title">经度:</div>
							<div id="longitude" class="location_content">&nbsp;</div>
						</div>
						<div class="location_info_tc">
							<div class="location_title">纬度:</div>
							<div id="latitude" class="location_content">&nbsp;</div>
						</div>
						<div class="location_info_tc">
							<div class="location_title">定位时间:</div>
							<div id="location_time" class="location_content">&nbsp;</div>
						</div>
						<div class="location_info_tc">
							<div class="location_title">地址:</div>
							<div id="address" class="location_content">&nbsp;</div>
						</div>
					</div>
					
				</div>
		</div>  
		<div id="inquireing">	
			<iframe id="history_track_frame" name="history_track_frame" src="inquire/templates/history_track_map.html"
				 style="width:100%;height:400px;" 
				marginwidth="0" marginheight="0" scrolling="no" frameborder="0" align='top'></iframe> 
		</div>		
	
	</div>
</div>
{{INHERIT}}
<script type="text/javascript">

/**
 * 将变量声明此处，为了关闭窗口时，清除历史轨迹请求数据。
 */
var arr_history = null; //历史轨迹时间队列数组
var drawLine_arr = null;  //画线队列
var host = "{{HOST}}"; //主机

/**
 * 开始加载首先加载车辆的最新定位，判断IFRAME是否加载完
 */
function position(){
	 var state = document.history_track_frame.document.readyState;
	 if(state=="complete"){
		{{POSITION_VEHICLE}}
	 }else{
		setTimeout("position();",1000);
	 }	 
} 
/**
 * 清除历史轨迹数据
 */
function clear_history_track(){    
		arr_history = null; //初始历史时间数组为空
		drawLine_arr = null;//初始画线数组为空 
}
</script>
<script language="javascript" src="/js/common.js"></script>
<script type="text/javascript" src="js/inquire_trace/inquire_trace.js"></script>
{{FOOTER}}	