<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>查询信息</title>
 	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link type="text/css" href="js/themes/base/jquery.ui.all.css" rel="stylesheet" />
	<script type="text/javascript" src="js/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="js/jquery.ui.tabs.js"></script>
	
</head>
<body>
	<script type="text/javascript">
		$(function() {
			$("#tabs").tabs();

			$("#trace").click(function(){
				$.post("index.php?a=302", 
						function(data){
							parent.window.drawHistoryTrack(data);
						},"json"
					);
			});
		});

		</script>
	
	<div class="inquireContainer">
		<div id="tabs">
			<ul>
				<li><a href="#current">查询当前状态</a></li>
				<li><a href="#history">查询历史信息</a></li>
			</ul>
			<div id="current">
				<p>查询当前状态</p>
			</div>
			<div id="history">
				<p>查询历史信息</p>
				<input type="button" id="trace" name="trace" value="查询历史轨迹"/>
			</div>
		</div>
	</div>
</body>
</html>