<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title>告警信息</title>

<head>
<script>
function selVehicle(){//车辆组联动车辆编号
	var vehicle_group_id=$("#vehicle_group").val();
	var vehicle_content="";
	jQuery
	.ajax( {
		url : "index.php?a=905",//读取车辆组的名称数据
		type : "post",
		data : "vehicle_id="+vehicle_group_id,
		success : function(data) {
		if(data==0){
			$("#vehicle").empty();
			 $("#vehicle").append("<option select='selected'>--无对应车辆编号--</option>");	
		}else{	
		$("#vehicle").empty();
		   var arry=data.split("|");	 
		   for(var i=0;i<arry.length-1;i++){
			   var vehicle_value= arry[i].split(",");
			   vehicle_content = vehicle_content
			            +  "<option value=@"+vehicle_group_id+">--全部车辆 --</option>"
						+ "<option value="
						+ vehicle_value[0] + ">" +vehicle_value[1]
						+ "</option>";
			 
		   }
		   $("#vehicle").append(vehicle_content);		   
		  }
		},
		error : function(
				XMLHttpRequest,
				textStatus,
				errorThrown) {
			alert("Errors: "
					+ errorThrown);
		}
	});
}


function condition(){
	var vehicle_group_content="<option select='selected'>--请选择车辆组--</option>";
	var vehicle_content="<option select='selected'>--请选择车辆编号--</option>";
	jQuery
	.ajax( {
		url : "index.php?a=904",//读取车辆组的名称数据
		type : "post",
		data : null,
		success : function(data) {	
		   var arry_vel=data.split("@");
   
	       var arry=arry_vel[0].split("|");	 
		   for(var i=0;i<arry.length-1;i++){
			   var vehicle_group_value= arry[i].split(",");
			   vehicle_group_content = vehicle_group_content
						+ "<option value="
						+ vehicle_group_value[0] + ">" + vehicle_group_value[1]
						+ "</option>";
			 
		   }
		   
             $("#vehicle_group").append(vehicle_group_content);		
             $("#vehicle").append(vehicle_content);		
		},
		error : function(
				XMLHttpRequest,
				textStatus,
				errorThrown) {
			alert("Errors: "
					+ errorThrown);
		}
	});
}

function conditionSel(){
 id=$("#vehicle").val();
 $("#navgrid1").clearGridData();
 var mygrid = jQuery("#navgrid1")[0];
 var deal=$("#deal").val();
 alert(deal);
 $.post("index.php?a=902&vehicle_id="+id+"&page=1&rows=10&sidx=1&sord=asc",
		 function(json){
	 		var jsonObject = eval('(' + json + ')');
			mygrid.addJSONData(jsonObject); 
 		},"json"
 );
}

</script>
</head>
<body onload="condition();">
{{top}}
<link rel="stylesheet" type="text/css" media="screen" href="css/css.css" />
<script src="js/alert/alert.js" type="text/javascript"></script>
<script src="js/alert/advice.js" type="text/javascript"></script>
<script src="js/alert/condition.js" type="text/javascript"></script>

<table id="navgrid1"></table>
<div id="pagernav1"></div>

<div style="padding: 20px; background-color: #fff; display: none"
	id="dialog">
<div id="canAdviceSelectDiv"></div>
</div>

<select id="vehicle_group" OnChange='selVehicle()' style= "width:150px"></select><br></br>

<select id="vehicle" style= "width:150px"></select>


<input type="button" value="查询" onclick="conditionSel();"/>

<input type="checkbox" id="deal" value="deal"/>


</body>
</html>