<!--这是一个局部页面，被其他页面用ajax方式调入 -->
<input id="alertId" type="hidden" value="{{ID}}"></input>
<div>
	<span class="advice_title">备选意见：</span>
	<select id="preparedOpinion" class="advice_select">{{OPTION}}</select>
</div>
<div class="advice_div">
	<span class="advice_content">意见内容：</span>
	<textarea id="advice" class="advice_textarea" >
</textarea>
</div>
<div class="button_div">
	<input type="button" id="addOpinion" name="addOpinion" value="确定"/>&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" id="return" name="return" value="退出"/>
</div>
<div>
<label id="result"></label>
</div>
<script type="text/javascript">
		function setAdvice(){
			var opinion = $("#preparedOpinion option:selected").text(); 
		 	$("#advice").text(opinion);
		}

		setAdvice();
		 
		$("#preparedOpinion").change(function(){
			setAdvice();
		});

		$("#addOpinion").click(function(){
			var id = $("#alertId").val();
			$.post("index.php",{
				"a":904,
				"id":id,
				"advice":$("#advice").text()},
				function(data){
				$("#result").text(data);
			});
		});

		$("#return").click(function(){
			$("#opinion").dialog("close");
		});
</script>
