<!--这是一个局部页面，被其他页面用ajax方式调入 -->
<input id="alertId" type="hidden" value="{{ID}}"></input>
<input id="alertType" type="hidden" value="{{ALERTTYPE}}" />
<input id="vehicleId" type="hidden" value="{{VEHICLEID}}" />

<div>
	<span class="alert_advice_title">备选意见：</span>
	<select id="preparedOpinion" class="alert_advice_select">{{OPTION}}</select>
</div>
<div class="alert_advice_div">
	<span class="alert_advice_content">意见内容：</span>
	<textarea id="advice" class="alert_advice_textarea" >
</textarea>
</div>
<div class="alert_button_div">
    <span class="alert_advice_content">是否批量处理：</span>
    <input type="checkbox" id="totalDeal" name="totalDeal"  checked="checked" />
	<input type="button" id="addOpinion" name="addOpinion" value="确定"/>
	<input type="button" id="return" name="return" value="退出"/>
</div>
<div>
<label id="result"></label>
</div>

<script src="js/alert/write_option.js" type="text/javascript"></script>
