<div class="selCondition">
   <div class="sel_vehicle_group">
  	 	<select id="vehicle_group" OnChange='selVehicle()' style="width: 150px; ">
  	 	{{group_option}}
  	 	</select>
   </div>
   
   <div class="sel_vehicle_group"> 
   		<select id="vehicle" style="width: 150px">
   		{{vehicle_option}}
   		</select> 
   </div>
  <div class="sel_vehicle_group">
  <script type="text/javascript">
 
  </script>
   		<input onclick="selectMethod();"  type="button" value="查询" style="width:80px" /> 
  </div>
  <div  class="deal">
	   <font color="black" size="2px">处理意见：</font>
	   <input type="checkbox" name="deal_condition" id="data_condition" />
	   <font color="black" size="2px">(包含已处理)</font>
  </div>
  
</div>

<div style="margin: 20px 0px  0px 0px; border:0px red solid; height:310px;  width: 56%;">
	<table id="navgrid1"></table>
	<div id="pagernav1"></div>
</div>


<div style="padding: 20px; background-color: #fff; display: none; font-size:12px;" id="dialog">
	<div id="canAdviceSelectDiv"></div>
</div>

<script src="js/alert/opinion.js" type="text/javascript"></script>
<script src="js/alert/alert.js" type="text/javascript"></script>
<script src="js/alert/condition.js" type="text/javascript"></script>
<script type="text/javascript"> 
condition();
</script>



