<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<style>
    .color1 {background-color:#DDD; color:#333;};
    .color2 {background-color:#EEE; color:#333;};
</style>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>
<body>
{{TOP}}

<div id="select">
   <input type="text" id="number_plate" value="输入车牌号查询"></input>&nbsp&nbsp&nbsp
   <input type="button" id="commit" value="查询"></input>
<table id="vehicle_status_list"></table>
<div id="pager"></div>
<!-- 加载用户 js 文件库 -->
<script src="js/vehicle/vehicle_status.js" type="text/javascript"></script>
</div>
</body>
</html>