<div class="body_div_setting">
	<!-- 超速限制 -->
	<div class="s_setting_div">
		<div class="s_setting_title">超速限制：</div>
		<div class="s_speed_content">
			<input {{DISPLAY}} type='text' name='speed_limit' id='speed_limit' value='{{speed_limit}}'>
		</div>
		<div class="s_mile_hour">公里/h</div>
	</div>
	
	
	<!-- 疲劳驾驶限制 -->
	<div class="s_fatigue_div">
		<div class="s_setting_title">疲劳驾驶限制：</div>
		<div class="s_fatigue_content">
			<input type='text' {{DRIVER}} name='fatigue_remind_time' id='fatigue_remind_time' value='{{fatigue_remind_time}}'>
		</div>
		<div class="s_mile_hour">小时</div>
	</div>
	
	<!-- 刷新时间 -->
	<div class="s_time_color">
		<div class="s_setting_title">刷新时间：</div>
		<div class="s_time_default">{{page_refresh_time}}</div>
	</div>
	
	<!-- 默认颜色 -->
	<div class="s_time_color">
		<div class="s_setting_title">默认轨迹颜色：</div>
		<div class="s_time_default">{{default_color}}</div>
	</div>
	
	<!-- 速度颜色映射设置 -->
	<div class="s_color_div">
		<div class="s_setting_title">速度颜色映射设置：</div>
		<div id='speeds' class="s_speed_color">{{speeds}}</div>
		<div class="s_setting_button" style="display:{{SET_COLOR}};">
			<a href='javascript:void(0);' onclick='adviceDialog();'>
				<img src="images/gear.png" border="0" title="设置" alt="设置"/>设置</a>
		</div>
	</div>
	
	<!-- 修改按钮 -->
	<div class="s_submit">
		<input style="display:{{COMMIT_SET}}" type="submit" value="确认" onclick="update_set();" />
	</div>
	
	<!-- 弹出设置颜色的模式窗口 -->
	<div class="s_color_mapping_dialog" id="color_mapping_dialog">
		<div id="canAdviceSelectDiv"></div>
	</div>
	<div id="process"></div>
</div>
 <style type="text/css">  
       .input{  
	       border-color:#FF0000;  
	       border-style:solid;
  		   width:46px;
  		   height:15px;  
       }  
     </style> 
<SCRIPT LANGUAGE="JavaScript"><!--
var judgeResult=true;

//速度时间映射
function adviceDialog(){
	
      jQuery("#color_mapping_dialog").dialog({
			bgiframe: true,
			autoOpen: true,
			height: 400, 
			width: 300,
			modal: true,
			title: '速度颜色映射设置',
			buttons: {
			    '取消': function() {
					jQuery(this).dialog('close');
			  },'提交': function() 
			  { 
					var str			=	"";//循环取出所有已经有的数
					var str_color	=	"";//循环取出
				 
					
					for(var i=0;i<8;i++)
					{ 
						//	取出每个颜色的默认
						var d_color = document.getElementById("hi_color_p_"+i).value;
						
						//	取出最小值 和 最大值
						var min = parseInt(document.getElementById("speed_"+2*i).value);
						var max = parseInt(document.getElementById("speed_"+(parseInt(2*i)+parseInt(1))).value);
						
						
						if(!isNaN(min) && !isNaN(max))
						{
							if(max <= min)
							{
								$("#speed_"+(parseInt(2*i)+parseInt(1))).addClass('input');
								set_message('最大速度不能小于或等于最小速度');
								return false;
							}
						}else
						{
							$("#speed_"+(parseInt(2*i)+parseInt(1))).removeClass('input');
						} 
						 
                    	//	取出所选的车辆颜色信息
						if(!isNaN(min) && !isNull(max))
						{ 
								str += min+"_"+max+"_"+d_color+"|"; 
	 	                     	str_color+=d_color+","
	 	                }
                    	 
	 				 } 
					 
                  	  //	判断是否有重复的颜色            
                  	  var repeat		=	false;                
					  var color_array	=	str_color.split(",");
					  var compare		=	str_color.split(",");
						
	                  for(var i=0;i<color_array.length-1;i++)
	                  {
	                	  if(repeat)
	                	  {
			                  break;
		                  }
	                	  compare.splice(i,1);
	                	  
		                  for(var a=0;a<compare.length-1;a++)
		                  {			           			              
	                	    if(color_array[i]==compare[a])
	                	    {		              	                	              	
	                	      repeat=true;
	                	      break;	 
	                	    }            	                  	    
		                  }	
		                  var compare=str_color.split(",");		                  
	                  }

	                  
		            if(repeat)
		            {
			            alert("不能选择相同颜色的车辆");
			            return;			            		     
		            }
		            else if(judgeResult==false)
		            {
			            return;
		            }else
		            {
		            	$.ajax({
							type: "POST",
							url: "index.php?a=5019&part=2",
							data: "parm="+str,
							success: function(msg)
							{
								if(msg=="设置成功")
								{
									//刷新页面中的数据
									 $.ajax
										({										
											type: "POST",
											url: "index.php?a=5020",
											data: "",
											success: function(msg){
											jQuery("#speeds").html(msg); 
										 }
									  });
								}
								 alert(msg);
							}
					   });
		            }    
					//关闭
					jQuery(this).dialog('close');
				}
        },open:function(event,ui)
        {
		        getTraffic();
        }
	 });
   
}

function getTraffic()
{	
	$("#process").mask("正在查询中,请耐心等候...");
	$.ajax({
		type: "POST",
		url: "index.php?a=5018",
		data: "",
		success: function(msg){
		$("#process").unmask();
		 	jQuery("#canAdviceSelectDiv").html(msg); 
		}
	 });
}

function update_set(){

	//取得各种值

	//刷新时间
	var page_refresh_time_val = document.getElementById("page_refresh_time").value;

	//速度限制
	var speed_limit = document.getElementById("speed_limit").value;

	//疲劳限制
	var fatigue_remind_time = document.getElementById("fatigue_remind_time").value;

	//默认颜色
	var de_color = document.getElementById("hi_color_l").value;

	$.ajax({
		type: "POST",
		url: "index.php?a=5019&part=1",
		data: "page_refresh_time="+page_refresh_time_val+"&default_color="+de_color+"&speed_limit="+speed_limit+"&fatigue_remind_time="+fatigue_remind_time,
		success: function(msg){
			alert("配置更新成功！");
			window.parent.closeDialog("operation");
			page_refresh_time =page_refresh_time_val;
			$.post("index.php",{
				 "a":5021}
				,function(data){
					
					var array=data.split("|");
					if(array.length==0){
						$("#header").unmask();
						alert("没有数据");
					}else
					{    
						var image="";
						for(var i=0;i<array.length-1;i++){
							var data_list_min=array[i].split(",");
							image=image+"<div style='float:left;heigth:17px;'>" +
									    "&nbsp;&nbsp;&nbsp;<img src="+data_list_min[0]+" style='height:17px;'/>&nbsp;" 
									    +data_list_min[1]+"-"+data_list_min[2]+"</div>";
						}		
						$("#header").unmask();
						$("#carInfor").html(image);
				    }
				});
		}
	 });

}

function isNull(str)
{ 
	 return (isNaN(str) || str == null || str =="" )?true:false;
}
 
function check_speed(obj)
{
		var speed_id = obj.id;
		var ss 		 = speed_id.split("_");
		
		//==== 速度排列ID序号===
		var before_two_num  = parseInt(ss[1])-parseInt(2);		//	前两位序号
		var age_a_num		= parseInt(ss[1])-parseInt(1);		//	前一位序号
		var curr_num 		= parseInt(ss[1]);					//	当前序号
		var next_num		= parseInt(ss[1])+parseInt(1);		//	下一位序号
		var next_two_num	= parseInt(ss[1])+parseInt(2);		//	下两位序号
		
		var before_two_val 	= parseInt($("#speed_"+before_two_num).attr("value")); 	// 前两位值
		var age_a_val 		= parseInt($("#speed_"+age_a_num).attr("value")); 		// 前一位值
		var curr_val 		= parseInt($("#speed_"+curr_num).attr("value")); 		// 当前值
		var next_val 		= parseInt($("#speed_"+next_num).attr("value")); 		// 下一位值
		var next_two_val 	= parseInt($("#speed_"+next_two_num).attr("value")); 	// 下两位值
		
		
		//==验证输入格式,必须为整数==
		if(!checkIsInteger(curr_val) && !isNull(curr_val))
		{
			$("#speed_"+curr_val).attr("value","");
			$(this).focus();
			set_message('请输入整数!');
			
			return false;
		}else
		{ 
			set_message('');
		}
		if(isNull(curr_val) && !isNaN(before_two_val))		//	当前值空时and前两位存在值时
		{
			$("#speed_"+age_a_num).attr("value","");
			return false;
		}else if(isNull(curr_val) && age_a_num != 0)
		{
			$("#speed_"+age_a_num).attr("value","");
			return false;
		}
		
		if(isNaN(curr_val) && curr_num == 1)				//	当前是否没有值
		{ 
			if(!isNull(next_val))
			{
				$("#speed_"+curr_num).attr("value",next_val-1);
			}else
			{
				$("#speed_"+curr_num).attr("value",40);
			}
			return false;			
		} 
		
		if(curr_val<=age_a_val)						//	当前  <= 上一位
		{
			$(this).focus();
			$("#speed_"+curr_num).addClass('input');
			set_message('最大速度不能小于或等于最小速度,推荐:'+(age_a_val+1));
			
			return false;
		} 
		
		if(curr_val>=next_val && !isNaN(next_two_val))	//	当前	 >=	下一位 && 下二位非等于NaN
		{
			//	当前 < 下二位
			if((curr_val+1)<next_two_val)
			{
				//	将当前的值赋值给下一位
				$("#speed_"+next_num).attr("value",(curr_val+1));
			}else
			{
				//	当前 > 下二位
				$(this).focus();
				$("#speed_"+curr_num).addClass('input');
				set_message('最大速度必须小于下一行最大速度2位,推荐:'+(next_two_val-2));
				
				return false;
			} 
		}else
		{
			//	过滤第一排的条件	
			if(!isNaN(before_two_val))
			{
				//	当前	  <	上两位
				if(curr_val<=(before_two_val+1))
				{
					$(this).focus();
					$("#speed_"+curr_num).addClass('input');
					set_message('最大速度必须大于前一行最大速度2位,推荐:'+(before_two_val+2));
					
					return false;
				}else
				{
					$("#speed_"+age_a_num).attr("value",before_two_val+1);
				}
			} 
			
			if(next_two_val != "" && !isNaN(next_two_val) && next_two_val!='undefined')
			{
				$("#speed_"+next_num).attr("value",curr_val+1);
			}
		}
		$("#speed_"+curr_num).removeClass('input');
		
		return true;
}

//	设置提示信息
function set_message(message)
{
	$("#message").html("<span style='font-size:14px;color:red'>"+message+"</span>");	
} 

//验证速度是否为整数
function checkIsInteger(str) 
{ 
       //如果为空，则通过校验 
     if(str == "") 
        return true;
     if(/^(\-?)(\d+)$/.test(str)) 
       return true;
     else 
       return false; 
 } 

$(":submit").button();//按钮替换成JQUERY样式

//
--></SCRIPT>