<!-- <link type="text/css" href="css/setting.css"  media="screen" rel="stylesheet" /> -->
<div class="body_div_setting">
	<!-- 超速限制 -->
	<div class="setting_div">
		<div class="setting_title">超速限制：</div>
		<div class="speed_content"><input {{DISPLAY}} type='text' name='speed_limit' id='speed_limit' value='{{speed_limit}}'></div>
		<div class="mile_hour">公里/h</div>
	</div>
	
	
	<!-- 疲劳驾驶限制 -->
	<div class="fatigue_div">
		<div class="setting_title">疲劳驾驶限制：</div>
		<div class="fatigue_content">
			<input type='text' {{DRIVER}} name='fatigue_remind_time' id='fatigue_remind_time' value='{{fatigue_remind_time}}'>
		</div>
		<div class="mile_hour">小时</div>
	</div>
	
	<!-- 刷新时间 -->
	<div class="time_color">
		<div class="setting_title">刷新时间：</div>
		<div class="time_default">{{page_refresh_time}}</div>
	</div>
	
	<!-- 默认颜色 -->
	<div class="time_color">
		<div class="setting_title">默认轨迹颜色：</div>
		<div class="time_default">{{default_color}}</div>
	</div>
	
	<!-- 速度颜色映射设置 -->
	<div class="color_div">
		<div class="setting_title">速度颜色映射设置:</div>
		<div id='speeds' class="speed_color">{{speeds}}</div>
		<div class="setting_button" style="display:{{SET_COLOR}};">
			<a href='javascript:void(0);' onclick='adviceDialog();'>
				<img src="images/gear.png" border="0" title="设置" alt="设置"/>设置</a>
		</div>
	</div>
	
	<!-- 修改按钮 -->
	<div class="submit"><input style="display:{{COMMIT_SET}}" type="submit" value="确认" onclick="update_set();" /></div>
	
	<!-- 弹出设置颜色的模式窗口 -->
	<div class="color_mapping_dialog" id="color_mapping_dialog">
		<div id="canAdviceSelectDiv"></div>
	</div>
	<div id="process"></div>
</div>

<SCRIPT LANGUAGE="JavaScript">
var judgeResult=true;
<!--
//速度时间映射
function adviceDialog(){
      jQuery("#color_mapping_dialog").dialog({
			bgiframe: true,
			autoOpen: true, 
			height: 400, 
			width: 300,
			modal: true,
			title: '速度颜色映射设置',
			buttons: {
			    '取消': function() {
					jQuery(this).dialog('close');
			  },'提交': function() { 
					var str="";//循环取出所有已经有的数
					var str_color="";//循环取出
					for(var i=0;i<8;i++)
					{    					
					//取出每个颜色的默认
						var d_color = document.getElementById("hi_color_p_"+i).value;
					//取出最小值 和 最大值
						var min = document.getElementById("speed_"+2*i).value;
						var max = document.getElementById("speed_"+(parseInt(2*i)+parseInt(1))).value;
						str += min+"_"+max+"_"+d_color+"|";

                    //取出所选的车辆颜色信息
						if(min!=""&&max!=""){
	 	                     	str_color=str_color+d_color+","
	 	                  }
	 				 }
					 
                  //判断是否有重复的颜色            
                  var repeat=false;                
					  var color_array=str_color.split(",");
					  var compare=str_color.split(",");
						
	                  for(var i=0;i<color_array.length-1;i++){
	                	  if(repeat){
			                  break;
		                  }
	                	   compare.splice(i,1);
		                  for(var a=0;a<compare.length-1;a++){			           			              
	                	    if(color_array[i]==compare[a])
	                	    {		              	                	              	
	                	      repeat=true;
	                	      break;	 
	                	    }            	                  	    
		                  }	
		                  var compare=str_color.split(",");		                  
	                  }

	                  
		            if(repeat){
			            alert("不能选择相同颜色的车辆");
			            return;			            		     
		            }else if(judgeResult==false){
			            return;
		            }else{
		            	$.ajax({
							type: "POST",
							url: "index.php?a=5019&part=2",
							data: "parm="+str,
							success: function(msg){
								 //刷新页面中的数据
							$.ajax({										
										type: "POST",
										url: "index.php?a=5020",
										data: "",
										success: function(msg){
										jQuery("#speeds").html(msg); 
								   }
							  });
							}
					   });
		            }    
					//关闭
					jQuery(this).dialog('close');
				}
        },open:function(event,ui){
		        getTraffic();
        }
	 });
   
}

function getTraffic()
{	
	$("#process").mask("正在查询中,请耐心等候...");
	$.ajax({
		type: "POST",
		url: "index.php?a=5018",
		data: "",
		success: function(msg){
		$("#process").unmask();
		 	jQuery("#canAdviceSelectDiv").html(msg); 
		}
	 });
}

function update_set(){

	//取得各种值

	//刷新时间
	var page_refresh_time_val = document.getElementById("page_refresh_time").value;

	//速度限制
	var speed_limit = document.getElementById("speed_limit").value;

	//疲劳限制
	var fatigue_remind_time = document.getElementById("fatigue_remind_time").value;

	//默认颜色
	var de_color = document.getElementById("hi_color_l").value;

	$.ajax({
		type: "POST",
		url: "index.php?a=5019&part=1",
		data: "page_refresh_time="+page_refresh_time_val+"&default_color="+de_color+"&speed_limit="+speed_limit+"&fatigue_remind_time="+fatigue_remind_time,
		success: function(msg){
			alert("配置更新成功！");
			window.parent.closeDialog("operation");
			page_refresh_time =page_refresh_time_val;
			$.post("index.php",{
				 "a":5021}
				,function(data){
					
					var array=data.split("|");
					if(array.length==0){
						$("#header").unmask();
						alert("没有数据");
					}else
					{    
						var image="";
						for(var i=0;i<array.length-1;i++){
							var data_list_min=array[i].split(",");
							image=image+"<div style='float:left;heigth:17px;'>" +
									    "&nbsp;&nbsp;&nbsp;<img src="+data_list_min[0]+" style='height:17px;'/>&nbsp;" 
									    +data_list_min[1]+"-"+data_list_min[2]+"</div>";
						}		
						$("#header").unmask();
						$("#carInfor").html(image);
				    }
				});
		}
	 });

}

//验证设置时速是否合理
function change_speed(obj)
{  	
	var ss;
	var speed_id = obj.id;
	ss = speed_id.split("_");

	//得到当前值的上一个值
	var forward_tow = $("#speed_"+(parseInt(ss[1])-parseInt(2))).attr("value");
	if(forward_tow=="" && ss[1]!=0){
		alert("上一级速度不能为空");
		$("#speed_"+(parseInt(ss[1]))).attr("value","");
	}
	//得到当前值 
	var my_value=  $("#speed_"+(parseInt(ss[1]))).attr("value");

	//vaule输入不等于空的时候给上一个input赋值
	if(my_value!=""){
		$("#speed_"+(parseInt(ss[1])-parseInt(1))).attr("value",forward_tow);//赋值
	}
	else if(my_value==""){
		 $("#speed_"+(parseInt(ss[1])-parseInt(1))).attr("value","");//赋值
	}

	//最大时速和最小时速比较 错误给出提示	
    if(parseInt(my_value) <= parseInt($("#speed_"+(parseInt(ss[1])-parseInt(1))).val())){
		$("#message").html("<span style='font-size:14px;color:red'>当前速度不能小于最大速度！</span>");
		judgeResult=false;
	}else{
		$("#message").html("<span></span>");
		judgeResult=true;
	}
	return judgeResult;
}

function check_speed(obj){
	var ss;
	var speed_id = obj.id;
	ss = speed_id.split("_");

	//得到当前值的上一个值
	var forward_tow = $("#speed_"+parseInt(ss[1])).attr("value");
	var forward_tow_old = $("#speed_"+(parseInt(ss[1])-parseInt(1))).attr("value");
	
	if(!checkIsInteger(forward_tow) || !checkIsInteger(forward_tow_old)){
		$("#speed_"+parseInt(ss[1])).attr("value","");
		$("#speed_"+(parseInt(ss[1])-parseInt(1))).attr("value","");
		$(this).focus();
		alert("请输入整数");
	}

	if(parseInt(forward_tow_old)>=parseInt(forward_tow)){		
		$("#speed_"+parseInt(ss[1])).attr("value","");
		$("#speed_"+(parseInt(ss[1])-parseInt(1))).attr("value","");
		$(this).focus();
		alert("当前速度不能小于等于最大速度！");
	}
}

function checkIsInteger(str) 
{ 
       //如果为空，则通过校验 
     if(str == "") 
        return true;
     if(/^(\-?)(\d+)$/.test(str)) 
       return true;
     else 
       return false; 
 } 

$(":submit").button();

//-->
</SCRIPT>