/**************inquire_trace****************/
.map_control{
	width:100%;
	height:25px;
	margin-top:2px;border:1px red solid;
}
.body_div{
	height:80px;
	width:870px;
}
.radio_div{
	height:20px; 
	width:300px; 
	font-size:12px; 
	font-weight:700;
}
.select_time{
	height:12px;
	width:70px; 
	float:left;
	margin-top:5px;
}
.speed_control{
	height:23px; 
	width:850px;
	margin-top:5px;
}
.speed_content{
	width:380px;
	height:20px; 
	float:left;
}
.time_input{
	height:20px;
	width:140px;
	float:left;
}
.select_area_vhicle{
	height:20px;
	width:80px;
	float:left;
}
.control_map{
	margin-top:5px;
	width:850px;
	height:23px;
	font-size:12px;
	font-weight:700;
}
.date_option{
	width:350px;
}
.keep_left{
	float:left;
	font-size:12px;
	font-weight:700;
}
.slow_speed{
	width:40px; 
	height:12px;
	margin-top:5px;
	text-align:center;
}
. 
.track_info{
	width:85px;
	margin-top:5px;
	height:10px;
}	
.spacing{
	margin:0px 5px 0px 5px;
}	
.font{
   	font-size:12px;
   	font-weight:700;
}
#cur_run_time{
	width:100px;
	height:10px;
	margin-top:5px;
}
#show_time{
	width:45px;
	margin-left:2px;
	font-weight:700;
	margin-top:5px;
	text-align:center;
}
.location_info{
	font-size:12px;
	border:1px #99CCFF solid; 
	margin-top:0px;
	height:208px;
}
.location_div{
	height:16px;
	margin-top:8px;
	border:0px red solid;
}
.location_title{
	width:57px; 
	float:left;
	height:15px;
	border:0px red solid;
	margin-top:8px;
	text-align:right;
	font-weight:700;
}
.location_content{
	width:128px;
	float:left;
	height:15px; 
	margin-top:8px;
}
.location_info_tile{
	height:17px;
	text-align:center;
	width:100%;
}
.location_info_show{
	width:73%;
	height:18px;
}
.location_info_operate{
	width:27%;
	height:15px;
}
.input{
	size:15;
}
.hand{
	cursor:hand;
}
.suspend{
	display:none;
}
.inquireing{
	border:4px #c8c8c8 solid;
	width:850px;
	height:343px;
}