/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,
   input,textarea,p,blockquote,th,td,input{margin:0;padding:0;}
   img{border:0;}
   body{ background:url(../images/background.jpg)}
	.body_div{
		margin:40px auto;
		width:820px;
		height:401px;
	}
	.top{
		width:100%;
		height:50px;
	}
	.logo,.title{
		height:100%;
		float:left;
	}
	.fs15{font-size:15px;}
	.logo_img{
	    height:48px;
	    width:48px;
	}
	.title{
	   height:46%;
	   margin-top:13px;
	   font-size:20px;
	   font-weight:700;
	   margin-left:8px;
	   color:#0099FF;
	}
	.content{
		width:100%;
		height:353px;
	}
	.login_img{
		background:url(../images/gps-login.png) no-repeat;
		width:600px;
		height:351px;
		float:left;
	}
	.content_right{
		width:215px;
		height:351px;
		float:left;
		background-color:#F3F3F3;
		text-align:center;
	}
	.remenber{
		color:#999999;
		font-weight:normal;
	}
	.new_info{
		height:110px;
		width:80%;
		margin-top:10px;
		margin-left:10px;
		font-size:12px;
		text-align:left;
		color:#66B3FF;
	}
	.form_info{
		padding:15px 6px;
		height:125px;
		font-size:14px;
		font-weight:700;
		text-align:center;
		width:176px;
		border:2px #D7D7D7 solid;
		position:absolute;
		top:280px;
		left:920px;
	}
	.submit{
		width:80px;
		height:35px;
	}
	.help_info{
		height:60px;
		width:100%;
		text-align:left;
		font-size:12px;
		color:#FF0000;
	}
	.input{
		width:96px;
		height:15px;
	}
	.submit{
		height:28px;
		width:72px;
		border:none;
		font-size:15px;
		color:white;
		font-weight:700;
		background:url(../images/button.png) no-repeat;
	}
	.ml70{margin-left:70px;}
	.tc{text-align:center;}
	ul{list-style-type:none;}
	.mt5{margin-top:5px;}
	.mt10{margin-top:10px;}
	.mt15{margin-top:15px;}
	.mt65{margin-top:65px;}
	a{ text-decoration:none;}
	a:hover{color:#FF6600;}
	.display_none{background-color:#F2F5F7;width:260px;position:absolute;top:200px; left:500px;}
	.show_message{text-align:left;font-size:13px;padding:6px 6px;}
	.show_message_title{height:25px; background-color:#E2EFF8; border:1px #AED0EA solid; margin:4px 4px;font-size:14px;}
	.show_title{display:inline;float:left;font-weight:700;padding:5px;}
	.close_message{display:inline;float:right;padding:5px; font-size:14px;}
	.close_message:hover{cursor:hand;}