	.delay{
		width:400px;;
		height:600px;;
		text-align:left;	}
	fieldset {
		padding:10px;
		margin-top:5px;
		border:1px #DADADA solid;
	}
	legend{
		font-size:13px;
		color:#1E9ECF;
		font-weight:700;
	}
	fieldset label {
		width:120px;
		text-align:right;
		padding-top:8px;
		margin:1px;
		float:left;
		font-size:13px;
		color:#006600;
	}
	.input {
		width:160px;
		height:18px;
		padding:2px;
		margin:2px;
	}
	.submit_pass{
		margin-top:42px;
		text-align:center;
	}
	.cr{color:red}