#nav {
    text-align:left;
	margin:0px auto;
	margin-left:0px;
	float:left; 
	padding-left:0px;
}
#nav li {
	display: inline;
	list-style-type: none;
	text-align:left;
	float:left;
} 
.jsbutton {
	position:relative; 
	display:inline;
	width:111px;
	height:50px;
	background:url(./../images/bgImage.png) top no-repeat;
	cursor: pointer;     
}
	
.jsbutton span.hover {
	position: absolute;
	display: inline;
	width:111px;
	height:50px;
	background:url(./../images/bgImage.png) bottom no-repeat; 
}
.button_font{
	margin-top:14px;
	text-align:center; 
	font-size:14px; 
	font-weight:700;
}
body{
	 height:100%;
	 width:100%;
	 border:2px #AAC8FE solid; 
	 margin:0 auto;
	 overflow:hidden;
	 font-size:12px;
 }
#header{
	height:30px; 
	padding-top:1px;
	width:100%;
	text-align:center; 
	margin-top:0 auto; 
	font-size:12px;
    border-bottom:2px #AAC8FE solid;
	background:url(./../images/hearder.png) right repeat;
}
/**定位刷新*/
.location_refresh{
	float:left;margin-top:2px
}
.toggler {
	width:200px;
	position: relative; 
	position: absolute;
	z-index:100;
	left:85%;
	top:5%;
	display:none;
	z-index:100000;
}
.cursor_style{
	cursor:pointer
}
#effect {  
	padding: 0.4em; 
	position: relative;
}
#effect h3 { 
	margin: 0; 
	padding: 0.4em; 
	text-align: center;
} 


.carInfo{
	float:left;
	width:75%;
	height:25px;
	margin-left:0px;
}
.mile{
	float:left;
	height:15px;
	margin-top:6px;
	margin-left:5px;
}
.kmile{
	float:left;
	height:15px;
	margin-top:8px;
	margin-left:5px;
}
.carInfor{
	float:left;
	margin-top:6px;
	height:18px;
}
.header_content{
	width:25%;
	float:right;
	height:28px;
}
.hearder_div{
	float:left;
	margin-left:10px;
	height:25px;
}
.marquee{
	float:left;
}
.content{
	height:60px;
	float:left; 
	margin-top:0 auto;
	text-align:left;
	width:45%;
	top:92%;
	left:56%;
	position:absolute;
	z-index:100001;
}

.shield_advertise{
	width:100%;
	height:40px; 
	position:absolute;
	z-index:100000;
	top:91.7%;
	background-color:#ffffff;
	border-top:2px gray solid;
} 
.button_content{
	height:56px;;
	width:55%; 
	float:left;
	font-size:14px;
    margin:2px auto;
    text-align:left;
  	top:92%;
	left:0%;
	position: absolute;
	z-index:100001;  
 }
		
.alertInfo{
	float:left;
	height:55px;
    margin:2px auto;
 }
.newAlert{
	font-weight:700;
	font-size:12px;
	margin-left:5px;
 	height:15px;
}
#alert_info{
	margin-top:10px; 
	font-size:12px;
	margin-left:5px;
}
.lamp{
	height:55px;
	width:47px;
    float:left;
}
.alert_div{
	height:50px;
	font-size:12px;
	float:left;
	margin:0 auto;
}
.new_alert{
	height:23px;
	margin-left:5px;
	margin-top:10px;
	font-size:12px;
}
.record{
	float:left;
	height:20px;
}
.operate{
	float:left;
	height:20px;
	display: none;
	margin-left:10px;
}
.addAdvice{
	float:left;
	height:13px;
	widht:80px;
	margin-left:10px;
}
.showMeInDialog{
	float:left;
	height:19px;
	widht:80px;
	margin-left:10px;
}
a{
	text-decoration:none;
}

/*错误信息提示样式*/
.errorInfo {
	color: red;
}

/*页面统一字体样式*/
body {
	font-family: Verdana, 宋体, Geneva, sans-serif;
	font-size: 12px;
}

/*页面操作事件标题样式*/
.title {
	width: 50%;
	height: 25px;
	text-align: left;
	color: #666666;
	font-size: 12px;
	
}

.topo {
	text-align: center
}

.context-align {
	float: left
}

.div-align {
	float: left;
}

.input-align {
	width: 30px;
	align: center;
	margin-left: 2px;
	margin-right: 2px;
}

.select-style {
	width: 200px;
	heigh: 400px;
}