#nav {
    text-align:left;
	margin:0px auto;
	margin-left:0px;
	float:left; 
	padding-left:0px;
}
#nav li {
	display: inline;
	list-style-type: none;
	text-align:left;
	float:left;
}
.jsbutton {
	position:relative; 
	display:inline;
	width:111px;
	height:50px;
	background:url(./../images/bgImage.png) top no-repeat;
	cursor: pointer;     
}
	
.jsbutton span.hover {
	position: absolute;
	display: inline;
	width:111px;
	height:50px;
	background:url(./../images/bgImage.png) bottom no-repeat; 
}
.button_font{
	margin-top:14px;
	text-align:center; 
	font-size:14px; 
	font-weight:700;
}
body{
	 height:100%;
	 width:100%;
	 border:2px #2BB7FF solid; 
	 margin:0 auto;
	 overflow:hidden;
 }
#header{
	height:30px; 
	padding-top:1px;
	width:100%;
	text-align:center; 
	margin-top:0 auto; 
	font-size:12px;
    border-bottom:2px #2BB7FF solid;
	background:url(./../images/hearder.png) right repeat;
}
/**定位刷新*/
.location_refresh{
	float:left;margin-top:2px
}
.carInfo{
	float:left;
	width:80%;
	height:25px;
}
.mile{
	float:left;
	height:15px;
	margin-top:6px;
	margin-left:5px;
}
.kmile{
	float:left;
	height:15px;
	margin-top:8px;
	margin-left:5px;
}
.carInfor{
	float:left;
	margin-top:6px;
	height:18px;
}
.header_content{
	width:18%;
	float:right;
	height:28px;
}
.hearder_div{
	float:left;
	margin-left:10px;
	height:25px;
}
.marquee{
	float:left;
}
.content{
	height:60px;
	float:left; 
	margin-top:0 auto;
	text-align:left;
	width:45%;
	top:92%;
	left:56%;
	position:absolute;
	z-index:100001;
}

.shield_advertise{
	width:100%;
	height:30px; 
	position:absolute;
	z-index:100000;
	top:91.7%;
	background-color:#ffffff;
	border-top:2px gray solid;
}
.map{
	text-align:center;
	height:90%;
	width:100%;
	margin:0 auto;
	
  }
.button_content{
	height:56px;;
	width:55%; 
	float:left;
	font-size:14px;
    margin:2px auto;
    text-align:left;
  	top:92%;
	left:0%;
	position: absolute;
	z-index:100001;  
 }
		
.alertInfo{
	float:left;
	height:55px;
    margin:2px auto;
 }
.newAlert{
	font-weight:700;
	font-size:12px;
	margin-left:5px;
 	height:15px;
}
#alert_info{
	margin-top:10px; 
	font-size:12px;
	margin-left:5px;
}
.lamp{
	height:55px;
	width:47px;
    float:left;
}
.alert_div{
	height:50px;
	font-size:12px;
	float:left;
	margin:0 auto;
}
.new_alert{
	height:23px;
	margin-left:5px;
	margin-top:10px;
	font-size:12px;
}
.record{
	float:left;
	height:20px;
}
.operate{
	float:left;
	height:20px;
	display: none;
	margin-left:10px;
}
.addAdvice{
	float:left;
	height:13px;
	widht:80px;
	margin-left:10px;
}
.showMeInDialog{
	float:left;
	height:19px;
	widht:80px;
	margin-left:10px;
}
a{
	text-decoration:none;
}