	.gpses{
		width:100%;
		height:100%;
		display:none;
    }
	.content{
   		height:24px;
   		width:100%;
   		padding-top:1px;
	}
    .content_title{
		float:left;
		height:12px;
		width:100px;
		text-align:left;
		border:0px red solid;
		margin-top:3px;
    }
   	.border{
	    border-top:1px #DDDDDF solid;
	    border-bottom:1px #DDDDDF solid;
   	}
    .bb{
   		border-bottom:1px #DDDDDF solid;
    }
	.content_value{
	    float:left;
	    height:23px;
	    width:250px;
    }
   .submit_pass{
		width:100%;
		text-align:center;
		margin-top:30px;
   }