<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content=""/>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/jquery.msgbox.css" />
	
	<script language="javascript" src="http://api.51ditu.com/js/maps.js"></script>
	<script language="javascript" src="js/jquery.min.js" ></script>
	<script language="javascript" src="js/jquery.msgbox.js" ></script>
	<script language="javascript" src="js/jquery.dragndrop.js"></script>
	<script language="javascript" src="js/home_page/home_page.js"></script>
	<script language="javascript" src="js/alert/advice.js"></script>

</head>
<body>
	<div id="header">
		<div class="header_content"> 
			<div class="hearder_div"><a href="{{URL_MANAGE}}">管理中心</a></div>
			<div class="hearder_div"><a href="{{URL_LOGOUT}}" onclick="window.close();" target="_blank">退出</a></div>
		</div>
	</div>
	<div id="content">
		<div id="map"></div>
		<div class="button_content">
			<ul id="nav">
					<li class="jsbutton" id="vehicle">
						<div class="button_font">选择车辆</div>
					</li>
					<li class="jsbutton" id="sendInfo">
						<div class="button_font">发布信息</div>
					</li>
					<li class="jsbutton" id="searchInfo">
						<div class="button_font">查询信息</div>
					</li>
					<li class="jsbutton" id="statistic">
						<div class="button_font">统计分析</div>
					</li>
					<li class="jsbutton" id="setting">
						<div class="button_font">设置</div>
					</li>
			</ul>
			<div id="alertInfo" >
			    <div class="marquee" id="lamp">
			    	
			    </div>
				<div class="marquee">
				  <div id="lamp" class="marquee"></div>
					<div id="newAlert">最新告警信息</div>
					<div id="alert_info">
						<div id="record" style="float:left; height:20px;"></div>
						<div style="float:left; height:20px; margin-left:20px;" >
							<div style="float:left; height:20px; display: none;" id="operate">
								<div style="float:left; height:19px;" id="divice">
									<a href="#">处理</a>
								</div>
								<div style="float:left; height:19px;padding-top:1px;" id="lookMore">
									<a href='#' style='margin-left:5px;'>查看更多</a>
								</div>
							</div>
							
						</div>
						
					</div> 
				</div><br>
			</div>
		</div>
	</div> 
	<script language="javascript">
			var state = 0; //操作状态  
			var map;  //声明51地图对象
			var control; //声明51地图控件
			var lat = 11636160;  //纬度
			var lon = 3991104;  // 经度
			var speed = 1000;  //速度/ms
			var marker1;
			var drawLine_arr;

			onLoadMap();
			
			//加载地图
			function onLoadMap()
			{
				window._LT_map_disableProgressBar=true;	//因为地图上的进度条可能会影响折线的事件触发，因此先禁止进度条的显示
				map=new LTMaps("map");
				map.centerAndZoom(new LTPoint(11640969,3994940),6);
				map.addControl(new LTStandMapControl());

				control = new LTZoomSearchControl();
			    control.setTop(10);
			    control.setLabel("选中矩形区域");
				map.addControl( control );

				//选中区域
				LTEvent.addListener(control,"mouseup",drawRectangle);
			}

			//关闭提示窗口
			function closeWindow(){
				$searchInfo.close();
			}

			//画历史轨迹路径
			function drawHistoryTrack(data){ 
				
				drawLine_arr = data; 
				newDrawLine();
				 
			}

			//画新线
			function newDrawLine(){
				 
				var length = drawLine_arr.length; 
				if(length>0){
					 
				 		var points1 = new Array();

				 		var lon = drawLine_arr[0][0];
				 		var lat = drawLine_arr[0][1];
				 		var direction = drawLine_arr[0][2];

				 		var newLon = -1;
				 		var newLat = -1;

						points1.push( new LTPoint(round(lon), round(lat)));
					if(length>1){
						newLon = drawLine_arr[1][0];
						newLat = drawLine_arr[1][1];
						points1.push( new LTPoint(round(newLon),round(newLat)));
					}else{
						newLon = lon;
						newLat = lat;
						points1.push( new LTPoint(round(lon), round(lat)));
					} 
					drawLine_arr.shift();
					drawRunLine(points1,round(newLon),round(newLat),direction);
				}
				
			}
			//运行画线
			function drawRunLine(points1,lon,lat,direction){  
				
				map.centerAndZoom(new LTPoint(lon,lat),4);
				var polyLine1 = new LTPolyLine(points1);
				polyLine1.setLineColor("#ff0000");	//设置折线颜色 
				polyLine1.setLineStroke(2);	//设置折线线宽
				
				polyLine1.setLineArrow("None","None");
				//将折线添加到地图
				map.addOverLay( polyLine1 );
 
				map.removeOverLay(marker1);
				marker1 = new LTMarker( new LTPoint(lon,lat),new LTIcon("{{HOST}}/images/vehicle/red/"+direction+".png"));
				map.addOverLay(marker1 );

				setTimeout("newDrawLine();",speed);
			}

			/**
			  *车辆提示信息
			  * obj 添加对象
			  * context 添加内容
			  */
			function addInfoWin(obj,context){
				
				var info = new LTInfoWindow( obj );

				function shwoInfo(){
					info.setLabel(context);
					info.closeInfoWindowWithMouse();
					map.addOverLay(info);
				}
				LTEvent.addListener(obj,"click",shwoInfo); 
			} 
			
			/**
			  *  车辆请求定位	
			  *  str  车辆ID集合 格式"ID1,ID2,ID3,"
			  */
			function vehiclePosition(str){
		 		//ygfi
				 $.ajax({
						type:"POST",
						url:"index.php?a=2&vehicleIds="+str, 
						dataType:"json",
						success:function(data){ 
							var length = data.length;
						
							for(var i=0;i<length;i++){        
								  
								var point_longitude = data[i][1]; //点经度
								var point_latitude =  data[i][2]; //点纬度
								var file_path = data[i][4]; //文件目录
								var img_name = data[i][3];  //图片名称

								//创建点对象
								marker1 =new LTMarker(new LTPoint(round(point_longitude),round(point_latitude)),
												 	  new LTIcon("{{HOST}}/"+file_path+"/"+img_name+".png"));

								//点对象设置内容
								addInfoWin(marker1,"经度："+point_longitude+"  纬度："+point_latitude);

								//点添入地图中
								map.addOverLay(marker1);
							}
							map.centerAndZoom("beijing",12);
						 }
	 				});
			}

			
			//经纬度五舍五入
			function round(v,e){
				v= v*100000;
				var   t=1;   
					for(;e>0;t*=10,e--);   
					for(;e<0;t/=10,e++);   

				return  Math.round(v*t)/t;   
			  } 
			 
  
			//手动画矩形
			function drawRectangle(){
				map.clearOverLays();
				//矩形地理区域的对象
				var drawBounds = control.getBoundsLatLng();

				var lonMin = drawBounds.getXmin();//最小经度
				var latMin = drawBounds.getYmin();//最小纬度
				var lonMax = drawBounds.getXmax();//最大经度
				var latMax = drawBounds.getYmax();//最大纬度

				//生成矩形地理区域
				var rectangleBounds =new LTBounds(lonMin,latMin,lonMax,latMax);

				//在地图画出矩形图 
				map.addOverLay(new LTRect(rectangleBounds));
			}

	 		
		</script>
	</body> 
</html>