<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<link type="text/css" href="css/style.css" rel="stylesheet" />
	<link type="text/css" href="css/alert.css" rel="stylesheet" />
	<link type="text/css" href="css/cupertino/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
	<link type="text/css" href="css/ui.jqgrid.css" media="screen" rel="stylesheet" />
	<link type="text/css" href="css/jquery.loadmask.small.css"  media="screen" rel="stylesheet" />
	<!-- 选车下拉框的css -->
	<link type="text/css" href="css/dd.css"  media="screen" rel="stylesheet" />
	<title>GPS车辆定位管理系统</title>
	<script language="javascript" src="js/jquery-1.4.2.js" ></script>
	<script language="javascript" src="js/interface.js" ></script>
	<script src="js/i18n/grid.locale-cn.js" type="text/javascript"></script>
	<script language="javascript" src="js/jquery.jqGrid.min.js" ></script>
	<script language="javascript" src="js/jquery-ui-1.8.1.custom.min.js" ></script>
	<script language="javascript" src="js/jquery.loadmask.min.js" ></script>
	<script type="text/javascript" src="js/jquery-ui-timepicker-addon-0.5.js"></script>
	<script language="javascript" src="js/alert/common.js"></script> 
	<script language="javascript" src="js/alert/opinion.js"></script>
	<script language="javascript" src="js/alert/write_option.js"></script>
	<!-- 选车下拉框的js -->
    <script language="javascript" src="js/jquery.dd.js"></script>
</head>
<body>

	<div id="vehicle_statistic_content"></div><!--车辆详细信息内容 -->
    <div id="driver_statistic_content"></div><!-- 驾驶员详细信息内容 -->
    <div id="select_statistic_content" class="height:330px; width:700px;"></div><!-- 选择车辆内容 -->
    
	<div id="opinion"></div>
	<div id="operation"></div>
	
	<div id="header">
		<div class="carInfo"> 
			<div id="carInfor" class="carInfor"></div>
			<div class="kmile">（公里/小时）</div>
		</div>
		<div class="header_content"> 
		    <div class="location_refresh">
		    	<input type="checkbox" id="location_refresh" checked="checked" />定位刷新
		    </div>
			<div class="hearder_div">
				<a href="{{URL_MANAGE}}" target="_blank">
					<img alt="管理" src="images/manager.png" class="mamagerImg" />管理中心</a>
			</div>
			<div class="hearder_div">
					<a href="{{URL_LOGOUT}}" onclick="window.close();" target="_blank">
						<img alt="退出" src="images/exit.png" class="exitImg" />退出</a>
			</div>
		</div>
	</div>
	 
	<iframe id="home_map_frame"  src="/templates/home_map.html" 
		scrolling="no" marginwidth="0" marginheight="0"  frameborder="0"></iframe>	
		
	<div class="bottom">
		<div   id="dock2">
		  <div class="dock-container2">
			  <a id="sel_vehicle_btn" class="dock-item2 console_btn" href="index.php?a=1" title="选择车辆" showWidth="666" showHeight="320">
					<span>选择车辆</span>
					<img src="images/selectCar.png" alt="选择车辆" class="dockimg"/>
			  </a> 
			  <a class="dock-item2 console_btn" href="index.php?a=201" title="发布信息"  showWidth="220" showHeight="340">
					<span>发布信息</span>
					<img src="images/sendInfo.png" alt="发布信息" class="dockimg" />
			  </a> 
			  <a class="dock-item2 console_btn" href="index.php?a=301" id="search_info" title="查询信息"  showWidth="915" showHeight="500">
					<span>查询信息</span>
					<img src="images/select.png" alt="查询信息" class="dockimg" />
			  </a> 
			  <a class="dock-item2 console_btn" href="index.php?a=401" title="统计分析"  showWidth="870" showHeight="430">
					<span>统计分析</span>
					<img src="images/statistic.png" alt="统计分析" class="dockimg" />
			  </a> 
			  <a class="dock-item2 console_btn" href="index.php?a=5017" title="设置"  showWidth="535" showHeight="370">
					<span>设置</span>
					<img src="images/setting.png" alt="设置"  class="dockimg"/>
			  </a> 
		  </div>
		</div>
     	<div id="content" class="content">
			    <div id="lamp" class="lamp" ></div>
			    
			    <div class="alerttop">
				    	<div class="alertContent">
					    	<div class="newAlertTitle">最新告警记录：</div>
							<div class="operate" id="operate">
									<div class="addAdvice" id="addAdvice">
										<a href="#"><img alt="处理" src="images/advice.png" class="adviceLookImg" />处理</a>
									</div>
									<div class="showMeInDialog" id="lookMore" title="告警列表" 
										 url="index.php?a=901"  showWidth="830" showHeight="360">
										
									 	<a href="#"><img alt="查看更多" src="images/lookMore.png" class="adviceLookImg" />查看更多</a>
									</div>
							</div>
				       	</div>
			       
				   		<div id="record" class="record"></div>
			    </div>
		</div>
		<div id="as_date"></div>
		<div id="show_company_position" style="display:none;">
			<div align='center' style='height: 30px;'>
				<label>请输入公司名:</label>
				<input type="text" id="name"></input>
			</div>
			<div align='center'>
				<button id="commit" value="确定">确定</button>
				<button id="cancle" value="取消">取消</button>
			</div>
		</div>
		<div id="update_company_position" style="display:none;">
			<div align='center' style='height: 30px;'>
				<label>请输入公司名:</label>
				<input type="text" id="update_name"></input>
			</div>
			<div align='center'>
				<button id="update_commit" value="确定">确定</button>
				<button id="update_cancle" value="取消">取消</button>
			</div>
		</div>
		<div>
			<input type='hidden' id='vehicle_id_save'></input> 
			<input type='hidden' id='cur_longlat'></input> 
			<input type='hidden' id='cur_states'></input>
			<input type='hidden' id='refresh_vehicles'></input>
			<input type='hidden' id='cur_refresh_state' value='end'></input>
		</div>
</div>   
	<script language="javascript">
		var host = "{{HOST}}"; //主机
		{{PAGE_REFRESH_TIME}}	
		var width = document.documentElement.clientWidth;
		var height = document.documentElement.clientHeight 
		$("#home_map_frame").css({ "width": width+"px", "height": height*0.865+"px" });
	</script>
	<script language="javascript" src="js/home_page/home_page.js"></script>
</body> 
</html>