<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<link type="text/css" href="css/style.css" rel="stylesheet" />
	<link type="text/css" href="css/cupertino/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
	<link type="text/css" href="css/ui.jqgrid.css" media="screen" rel="stylesheet" />
	<link type="text/css" href="css/jquery.loadmask.small.css"  media="screen" rel="stylesheet" />
		
	<script language="javascript" src="js/jquery-1.4.2.js" ></script>
	<script language="javascript" src="js/interface.js" ></script>
	<script src="js/i18n/grid.locale-cn.js" type="text/javascript"></script>
	<script language="javascript" src="js/jquery.jqGrid.min.js" ></script>
	<script language="javascript" src="js/jquery-ui-1.8.1.custom.min.js" ></script>
	<script language="javascript" src="js/jquery.loadmask.min.js" ></script>
	<script type="text/javascript" src="js/jquery-ui-timepicker-addon-0.5.js"></script>
	<script language="javascript" src="js/alert/opinion.js"></script> 
	<script language="javascript" src="js/alert/common.js"></script>  
</head>
<body>
	<div style="display:none;width:100%;height:30x;position:absolute;z-index:100000;top:30px;background-color:#80ffff;text-align:center;filter:alpha(Opacity=96);">
		<div style="width:85%;height:20px;border:0px solid">
			 <div style="float:left;">开始时间:<input type="text" id="start_time"></input></div>
			 <div style="float:left;">结束时间:<input type="text" id="end_time"></input></div>
			 <div style="float:left;width:80px;margin-top:9px;">播放速度</div>
			 <div id="cur_run_time" style="width:100px;height:10px;float:left;margin-top:9px"></div>
			 <div style="float:left;width:40px;margin-left:2px;margin-top:9px;font-weight:700;" id="show_time"></div>
			 <div style="float:left;width:100px;margin-top:9px;">轨迹控制 0/0</div>
			 <div style="float:left;width:40px;margin-left:10px;">
			 	<input type="button" id="play_history" value="播放"></input>
			 </div>
			 <div style="float:left;width:40px;margin-left:10px;">
			 	<input type="button" id="stop_history" value="暂停"></input>
			 </div>
		</div>
	</div>
	<div class="shield_advertise"></div>
	<div class="toggler" id="location_info">
		<div id="effect" class="ui-widget-content ui-corner-all">
			<h3 class="ui-widget-header ui-corner-all cursor_style">定位信息</h3>
			<table style="font-size:12px" border="1">
				<tr>
					<td width="60">车牌号:</td>
					<td width="140">
						<div id="vehicle_id">&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td width="60">GPS编号:</td>
					<td width="140">
						<div id="gps_id">&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td width="60">方向:</td>
					<td width="140">
						<div id="direction">&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td width="60">速度:</td>
					<td width="140">
						<div id="speed">&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td width="60">经度:</td>
					<td width="140">
						<div id="longitude">&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td width="60">纬度:</td>
					<td width="140">
						<div id="latitude">&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td width="60">定位时间:</td>
					<td width="140">
						<div id="location_time">&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td width="60">地址:</td>
					<td width="140">
						<div id="address">&nbsp;</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div id="opinion"></div>
	<div id="operation"></div>
	<div id="header">
		<div class="carInfo">
			<div class="mile">速度：</div>
			<div id="carInfor" class="carInfor"></div>
			<div class="kmile">（公里/小时）</div>
		</div>
		<div class="header_content"> 
		    <div class="location_refresh">
		    	<input type="checkbox" id="location_refresh" checked="checked" />定位刷新
		    </div>
			<div class="hearder_div">
				<img alt="管理" src="images/manager.png" style="width:17px; height:20px;" />
				<a href="{{URL_MANAGE}}" target="_blank">管理中心</a>
			</div>
			<div class="hearder_div">
					<img alt="退出" src="images/exit.png" style="width:20px; height:19px;" />
					<a href="{{URL_LOGOUT}}" onclick="window.close();" target="_blank">退出</a>
			</div>
		</div>
	</div>
	<div class="iframeDiv">
		<iframe id="home_map_frame" src="/templates/home_map.html" scrolling="no" marginwidth="0" marginheight="0"  frameborder="0"></iframe>
	</div>
	<div class="bottom">
		<div class="dock" id="dock2">
		  <div class="dock-container2">
			  <a class="dock-item2 console_btn" href="index.php?a=1" title="选择车辆" showWidth="666" showHeight="320">
					<span>选择车辆</span>
					<img src="images/selectCar.png" alt="home" class="dockimg"/>
			  </a> 
			  <a class="dock-item2 console_btn" href="index.php?a=201" title="发布信息"  showWidth="230" showHeight="300">
					<span>发布信息</span>
					<img src="images/sendInfo.png" alt="contact" class="dockimg" />
			  </a> 
			  <a class="dock-item2 console_btn" href="index.php?a=301" title="查询信息"  showWidth="1000" showHeight="500">
					<span>查询信息</span>
					<img src="images/select.png" alt="portfolio" class="dockimg" />
			  </a> 
			  <a class="dock-item2 console_btn" href="index.php?a=401" title="统计分析"  showWidth="930" showHeight="430">
					<span>统计分析</span>
					<img src="images/statistic.png" alt="music" class="dockimg" />
			  </a> 
			  <a class="dock-item2 console_btn" href="index.php?a=5017" title="设置"  showWidth="535" showHeight="400">
					<span>设置</span>
					<img src="images/setting.png" alt="video"  class="dockimg"/>
			  </a> 
		  </div>
		</div>
		<div id="content" class="content">
		  <div class="alertInfo"  id="alertInfo" >
		    <div id="lamp" class="lamp" ></div>
		    <div class="alert_div">
				<div id="newAlert" class="newAlert"></div>
				<div  class="new_alert">
					<div id="record" class="record"></div>
					
					<div class="operate" id="operate">
						<div class="addAdvice" id="addAdvice">
							<img alt="处理" src="images/advice.png" style="width:20px; height:19px;" />
							<a href="#">处理</a>
						</div>
						<div class="showMeInDialog" id="lookMore" title="告警列表" 
							 url="index.php?a=901"  showWidth="830" showHeight="360">
							<img alt="查看更多" src="images/lookMore.png" style="width:20px; height:19px;" />
						 	<a href="#">查看更多</a>
						</div>
					</div>
			    </div>
			</div>
		  </div>
	</div>  
</div>
	
	
	<script language="javascript">
		var host = "{{HOST}}"; //主机
		{{PAGE_REFRESH_TIME}}
		$("#home_map_frame").css({ "width": screen.width+"px", "height": screen.height*0.79+"px" });
	</script>
	<script language="javascript" src="js/home_page/home_page.js"></script>
</body> 
</html>