{{top}}

<script type="text/javascript">

jQuery(document).ready(function(){
    //$('#switcher').themeswitcher();

	$('body').layout({
		resizerClass: 'ui-state-default',
        west__onresize: function (pane, $Pane) {
            jQuery("#west-grid").jqGrid('setGridWidth',$Pane.innerWidth()-2);
		}
	});
	
	$.jgrid.defaults = $.extend($.jgrid.defaults,{loadui:"enable"});
	var maintab =jQuery('#tabs','#RightPane').tabs({
        add: function(e, ui) {
            // append close thingy
            $(ui.tab).parents('li:first')
                .append('<span class="ui-tabs-close ui-icon ui-icon-close" title="关闭"></span>')
                .find('span.ui-tabs-close')
                .click(function() {
                    maintab.tabs('remove', $('li', maintab).index($(this).parents('li:first')[0]));
                });
            // select just added tab
            maintab.tabs('select', '#' + ui.panel.id);
        }
    });
   	 var caption_info ="<div><div style='float:left'>欢迎 {{user_name}}</div>"+
        			  "<div style='width:110px;float:left;text-align:right'>"+
        			  "<a href='index.php?a=1005'>安全退出</a></div></div>"; 
	  
     var tree_url = "xml/tree_"+$("#role_sense").attr("name")+".xml";
     jQuery("#west-grid").jqGrid({
        url: tree_url,
        datatype: "xml",
        height: "auto",
        pager: false,
        loadui: "disable",
        colNames: ["id","菜单","url"],
        colModel: [
            {name: "id",width:1,hidden:true, key:true},
            {name: "menu", width:150, resizable: false, sortable:false},
            {name: "url",width:1,hidden:true}
        ],
        treeGrid: true,
		caption: caption_info,
        ExpandColumn: "menu",
        autowidth: true,
        rowNum: 200,
        ExpandColClick: true,
        treeIcons: {leaf:'ui-icon-document-b'},
        onSelectRow: function(rowid) {
            var treedata = $("#west-grid").jqGrid('getRowData',rowid);
            if(treedata.isLeaf=="true") {
                //treedata.url
                var st = "#t"+treedata.id;
				if($(st).html() != null ) {
					
					maintab.tabs('select',st);
				} else {
 					maintab.tabs('add',st, treedata.menu);
					$.ajax({
						url: treedata.url,
						type: "GET",
						dataType: "html",
						complete : function (req, err) {
							$(st,"#tabs").append(req.responseText);
							try { var pageTracker = _gat._getTracker("UA-5463047-4"); pageTracker._trackPageview(); } catch(err) {};
						}
					});
   			    }
            }
        }
    });	


	if("admin"==$("#role_sense").attr("name")){     
	//加载页面以后得到驾驶员数据信息   
	document.getElementById('tabs-1').style.display="none";
    var maintab =jQuery('#tabs','#RightPane').tabs({
         add: function(e, ui) {
             // append close thingy
             $(ui.tab).parents('li:first')
                 .append('<span class="ui-tabs-close ui-icon ui-icon-close" title="关闭"></span>')
                 .find('span.ui-tabs-close')
                 .click(function() {
                     maintab.tabs('remove', $('li', maintab).index($(this).parents('li:first')[0]));
                 });
             maintab.tabs('select', '#' + ui.panel.id);
         }
     });
 	maintab.tabs('add','#t4','驾驶员'); 
  	$.ajax({
		url: 'index.php?a=5001',
		type: "GET",
		dataType: "html",
		complete : function (req, err) {
			$('#t4',"#tabs").append(req.responseText);
			try { var pageTracker = _gat._getTracker("UA-5463047-4"); pageTracker._trackPageview(); } catch(err) {};
		}
	});
  }
	if("sysadmin"==$("#role_sense").attr("name")){     
		//加载页面以后得到车辆数据信息   
		document.getElementById('tabs-1').style.display="none";
	    var maintab =jQuery('#tabs','#RightPane').tabs({
	         add: function(e, ui) {
	             // append close thingy
	             $(ui.tab).parents('li:first')
	                 .append('<span class="ui-tabs-close ui-icon ui-icon-close" title="关闭"></span>')
	                 .find('span.ui-tabs-close')
	                 .click(function() {
	                     maintab.tabs('remove', $('li', maintab).index($(this).parents('li:first')[0]));
	                 });
	             maintab.tabs('select', '#' + ui.panel.id);
	         }
	     });
	 	maintab.tabs('add','#t4','车辆'); 
	  	$.ajax({
			url: 'index.php?a=1010',
			type: "GET",
			dataType: "html",
			complete : function (req, err) {
				$('#t4',"#tabs").append(req.responseText);
				try { var pageTracker = _gat._getTracker("UA-5463047-4"); pageTracker._trackPageview(); } catch(err) {};
			}
		});
	  }

	if("system"==$("#role_sense").attr("name")){     
		//加载页面以后得到公司数据信息   
		document.getElementById('tabs-1').style.display="none";
	    var maintab =jQuery('#tabs','#RightPane').tabs({
	         add: function(e, ui) {
	             // append close thingy
	             $(ui.tab).parents('li:first')
	                 .append('<span class="ui-tabs-close ui-icon ui-icon-close" title="关闭"></span>')
	                 .find('span.ui-tabs-close')
	                 .click(function() {
	                     maintab.tabs('remove', $('li', maintab).index($(this).parents('li:first')[0]));
	                 });
	             maintab.tabs('select', '#' + ui.panel.id);
	         }
	     });
	 	maintab.tabs('add','#t4','公司'); 
	  	$.ajax({
			url: 'index.php?a=5003',
			type: "GET",
			dataType: "html",
			complete : function (req, err) {
				$('#t4',"#tabs").append(req.responseText);
				try { var pageTracker = _gat._getTracker("UA-5463047-4"); pageTracker._trackPageview(); } catch(err) {};
			}
		});
	  }

	if("normal"==$("#role_sense").attr("name")){
		//加载页面以后得到密码修改信息   
		document.getElementById('tabs-1').style.display="none";
	    var maintab =jQuery('#tabs','#RightPane').tabs({
	         add: function(e, ui) {
	             // append close thingy
	             $(ui.tab).parents('li:first')
	                 .append('<span class="ui-tabs-close ui-icon ui-icon-close" title="关闭"></span>')
	                 .find('span.ui-tabs-close')
	                 .click(function() {
	                     maintab.tabs('remove', $('li', maintab).index($(this).parents('li:first')[0]));
	                 });
	             maintab.tabs('select', '#' + ui.panel.id);
	         }
	     });
	 	maintab.tabs('add','#t4','修改密码'); 
	  	$.ajax({
			url: 'index.php?a=5024',
			type: "GET",
			dataType: "html",
			complete : function (req, err) {
				$('#t4',"#tabs").append(req.responseText);
				try { var pageTracker = _gat._getTracker("UA-5463047-4"); pageTracker._trackPageview(); } catch(err) {};
			}
		});
	}
  	
});
</script>
</head>
<body> 

  	<div id="LeftPane" class="ui-layout-west ui-widget ui-widget-content">
		<table id="west-grid"></table>
	</div> 
	<!-- #LeftPane -->
	
	<div id="RightPane" class="ui-layout-center ui-helper-reset ui-widget-content" ><!-- Tabs pane -->
    
	<div id="switcher"></div>
		<div id="tabs" class="jqgtabs">
			<ul>
				<li><a id="tabs-1" href="#tabs-1"></a></li>
			</ul>
			<div id="tabs-1" style="font-size:12px;">			            
			</div>
		</div>
	</div> 
	<input id="role_sense" type='hidden' name="{{ROLE_SENSE}}"></input>
	<!-- #RightPane -->
</body>

</html>