<link type="text/css" href="css/vehicle_console.css"  media="screen" rel="stylesheet" />
<div class="vehicle_select_bodydiv">
	<div id="tabs" class="vehicle_select_tab">{{VEHICLE_GROUP_DATA}}</div>
	<div class="vehicle_select_bottom">
		<div class="vehicle_select_title">
			<input type='checkbox' name='all' id='all' align='center' ><span class="vehicle_status_font font_weight">选择全部车辆</span></input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="vehicle_status_font font_weight">gprs状态:</span>&nbsp;&nbsp;
			<span><input type='checkbox' disabled/>离线</span>&nbsp;&nbsp;
			<span><input type='checkbox' />在线</span>
		</div>
		<div class="vehicle_select_button">
			<input type="button" id="sel_vehicle_commit" value="确认"></input>
		</div>
    </div>
</div> 
<script src="js/vehicle/vehicle_console_select.js" type="text/javascript"></script>
