<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
 	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

	
	<!-- 滚动条样式 -->
	<style>
 		.scroll{
			padding-right:10px;overflow-y:auto;padding-left:10px;
			font-size:11pt;padding-bottom:0px;overflow:auto;width:510px; 
			line-height:100%;padding-top:0px;font-family:宋体;letter_spacing:1pt;
			height:150px;text-align:left
		}
 	</style>
</head>
<body style="width:620px; height:282px; font-size:12px;">	
	<div style="border:1px #cccccc solid; width:619px; height:280px; margin-top:20px;">
		<div id="tabs" style="font-size:12px;">
		     {{VEHICLE_GROUP_DATA}}
		</div>
		<div>
			<div style="margin-left:5px;float:left;font-size:12px;margin-top:5px;">
				<input type='checkbox' name='all' id='all' align='center'>选择全部车辆</input>
			</div>
			<div style="float:right; margin-right:5px;font-size:12px;margin-top:5px;">
				<input type="button" id="sel_vehicle_commit" value="确认"></input>
			</div>
	    </div>
	</div> 
	<script type="text/javascript">
	 
		$("#tabs").tabs(); //加载JQUERY UI

        $(".selectall").click(function(){
			if($(this).attr("checked")==true){
			    $("input[name='"+$(this).attr("value")+"']").each(function(){
				    $(this).attr("checked",true);
				});
			}else{
			      $("input[name='"+$(this).attr("value")+"']").each(function(){
				    $(this).attr("checked",false);
			});
			}
		});

		$("#all").click(function(){
		     if($(this).attr("checked")==true){
			     $(":input").each(function(){
				     $(this).attr("checked",true);
				 });
			 }else{
			     $("input").each(function(){
				     $(this).attr("checked",false);
				 });
			 }
		});

	</script> 
</body>
</html>