 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
 	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link type="text/css" href="js/themes/ui-lightness/jquery.ui.all.css" rel="stylesheet" />
	<script type="text/javascript" src="js/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="js/jquery.ui.tabs.js"></script>
	
	<!-- 滚动条样式 -->
	<style>
 		.scroll{
			padding-right:10px;overflow-y:auto;padding-left:10px;
			font-size:11pt;padding-bottom:0px;overflow:auto;width:510px; 
			line-height:100%;padding-top:0px;font-family:宋体;letter_spacing:1pt;
			height:150px;text-align:left
		}
 	</style>
</head>
<body>	
	<script type="text/javascript">
	$(function() {
		$("#tabs").tabs({}); //加载JQUERY UI

        $(".selectall").click(function(){
			if($(this).attr("checked")==true){
			    $("input[name='"+$(this).attr("value")+"']").each(function(){
				    $(this).attr("checked",true);
				});
			}else{
			      $("input[name='"+$(this).attr("value")+"']").each(function(){
				    $(this).attr("checked",false);
			});
			}
		});

		$("#all").click(function(){
		     if($(this).attr("checked")==true){
			     $(":input").each(function(){
				     $(this).attr("checked",true);
				 });
			 }else{
			     $("input").each(function(){
				     $(this).attr("checked",false);
				 });
			 }
		});

		$("#commit").click(function(){
            var vehicles = $(".vehicle:checked");
            var str="";
            vehicles.each(function(i){
                
                	str = str+$(this).val()+",";
                
             });
  				 parent.window.vehiclePosition(str.substr(0,str.length-1));
   				parent.window.closeIframe();
			});
	}); 
	</script> 
<div>

<div id="tabs">
     {{VEHICLE_GROUP_DATA}}
</div>
<br/>
<div>
	<div style="float:left">
		<input type='checkbox' name='all' id='all' align='center'>选择全部车辆</input>
	</div>
	<div style="float:right">
		<input type="button" id="commit" value="确定"></input></div>
	</div>
</div> 
</body>
</html>