<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>定位</title>
<link type="text/css" href="/css/home_map.css" media="screen" rel="stylesheet" />

<script language="javascript" src="http://api.51ditu.com/js/maps.js"></script>
<script language="javascript" src="/js/jquery-1.4.2.js" ></script>
</head>
<body>
<div id="myMap" style="position:relative; width:100%; height:115%;"></div>

<script language="javascript">
	var leftOffsetRatio = 0.05;  //	矩形左间距
	var rightOffsetRatio = 0.1;  //	矩形右间距
	var upOffsetRatio = 0.05;    //	矩形上间距
	var downOffsetRatio = 0.1;   //	矩形下间距

	var ifr = window.parent.document.getElementById("locate");
	
	//因为地图上的进度条可能会影响折线的事件触发，因此先禁止进度条的显示
	window._LT_map_disableProgressBar=true;	
	var maps = new LTMaps( "myMap" ); 
	maps.cityNameAndZoom( "beijing" , 12 ); 
	
	
	maps.addControl(new LTSmallMapControl());

	if(ifr==null){
		control = new LTZoomSearchControl();
		control.setTop(10);
		control.setLabel("选中矩形区域查询");
		maps.addControl( control );
		
		//选中区域
		LTEvent.addListener(control,"mouseup",drawRectangle);
		
		var over_lay;
		
		//手动画矩形
		function drawRectangle(){
		
			maps.removeOverLay(over_lay,false);
			//矩形地理区域的对象
			var drawBounds = control.getBoundsLatLng();
			
			var lonMin = drawBounds.getXmin();//最小经度
			var latMin = drawBounds.getYmin();//最小纬度
			var lonMax = drawBounds.getXmax();//最大经度
			var latMax = drawBounds.getYmax();//最大纬度
			
			
			//生成矩形地理区域
			var rectangleBounds =new LTBounds(lonMin,latMin,lonMax,latMax);
			
			//在地图画出矩形图 
			over_lay = new LTRect(rectangleBounds);
			maps.addOverLay(over_lay);
			
			document.getElementById("lonMin").value=lonMin;
			document.getElementById("latMin").value=latMin;
			document.getElementById("lonMax").value=lonMax;
			document.getElementById("latMax").value=latMax;
		}
	}
	/**
	 * 清除所有标点，重新加载新数据
	 */
	function clearOverLay(){
		maps.clearOverLays(); 
	}

	/**
	 * 车辆请求定位
	 * @param {Object} str 车辆ID集合 格式"ID1,ID2,ID3,"
	 */
	
	function location(ids){  	
		//清空所有地图点
		clearOverLay(); 
		
		 $.ajax({
				type:"POST",
				url:window.parent.host+"/index.php?a=2&vehicleIds="+ids, 
				dataType:"json",
				success:function(data){ 	
			 	if(data==0 || data == null || data == "") return false;		 

					var length = data.length; 
					var points = new Array();

					var longitudeArray = new Array(); // 所有车辆经度保存数组
					var latitudeArray = new Array();  // 所有车辆纬度保存数组
					   
					for(var i=0;i<length;i++){  
						var vehicle_id = data[i][0]; //车辆id      					
						var point_longitude = data[i][1]; //点经度
						var point_latitude =  data[i][2]; //点纬度
						var file_path = data[i][4]; //文件目录
						var img_name = data[i][3];  //图片名称	
						var number_plate = data[i][5]; //车牌号	

						//循环
						//取得所有车的最大经度、最小经度、最大纬度、最小纬度
						longitudeArray[i] = point_longitude;
					 	latitudeArray[i] = point_latitude;
						
						points.push( new LTPoint(point_longitude,point_latitude));
	
						//创建点对象
						var marker = new LTMarker(new LTPoint(point_longitude,point_latitude),
										 	  new LTIcon(window.parent.host+"/"+file_path+"/"+img_name+".png"));
	
						var title = "<span class='span'>"+number_plate+"</span>";
						addInfoWin(marker,title,vehicle_id);
						
						//点添入地图中
						maps.addOverLay(marker);
	
						//点显示内容
						var text = new LTMapText( new LTPoint(point_longitude,point_latitude ) );
						text.setLabel(number_plate ); 
						maps.addOverLay( text ); 
					}
					//重新获得最佳位置
					maps.getBestMap(points);

					/**
					  * 运行判断，获取定位车辆显示最佳位置，是否超出范围
					  */
					var bound = maps.getBoundsLatLng(); //矩形范围对象 
					var xmin = bound.getXmin(); // 最小经度
					var ymin = bound.getYmin(); // 最小纬度
					var xmax = bound.getXmax(); // 最大经度
					var ymax = bound.getYmax(); // 最大纬度 
					
					var longitudeRange = xmax - xmin; // 矩形经度范围
					var latitudeRange = ymax - ymin;  // 矩形纬度范围
					
					//取出所有车辆中的最大经纬度、最小经纬度。	
					var point_longitude_min = Math.min.apply(Math, longitudeArray);
					var point_longitude_max = Math.max.apply(Math, longitudeArray);
					var point_latitude_min = Math.min.apply(Math, latitudeArray);
					var point_latitude_max = Math.max.apply(Math, latitudeArray);
					
					//验证车辆当前位置是否超出范围
					var isOutofMapRange = (((point_longitude_min - xmin) / longitudeRange) <= leftOffsetRatio) ||
					(((xmax - point_longitude_max) / longitudeRange) <= rightOffsetRatio) ||
					(((point_latitude_min - ymin) / latitudeRange) <= downOffsetRatio) ||
					(((ymax - point_latitude_max) / latitudeRange) <= upOffsetRatio);

					//超出范围
					if (isOutofMapRange) {
						//比例尺放大
						maps.zoomTo(eval(maps.getCurrentZoom()+1));
					}

					//如果当车辆比例尺显示最小时，放大两个比例，让用户看看得更清楚旁边参观物
					switch(maps.getCurrentZoom()){
						case 0:
							maps.zoomTo(2);
							break; 
					}  
				 }
				});
	
	 }
	
	var info_old; //上一次打开的信息浮窗
	function addInfoWin(obj,title,vehicle_id){ 	 
		var info = new LTInfoWindow( obj );
	
		function shwoInfo(){  
			info.setTitle(title);
			
			/**
			 * 如果上一次打开的信息浮窗不为空，则关闭它
			 */
			if(info_old!=null){
				info_old.closeInfoWindow();
			}
			
			info_old = info; //将信息浮窗变量赋与info_old;
			
			info.setLabel("<div id='show_info_div'>正在载入....</div>");		
			maps.addOverLay(info); 
			info.moveToShow(); //如果信息浮窗超出屏幕范围，则移动到屏幕中显示
			$.ajax({
				type: "POST",
				url: window.parent.host+"/index.php?a=102&vehicle_id="+vehicle_id,
				dataType: "json",
				success: function(data){
					info.setLabel(get_data(data));
					info.moveToShow(); //如果信息浮窗超出屏幕范围，则移动到屏幕中显示
					 	
				}
			});
			
			
			info.clear();//清除信息浮窗内容
			maps.addOverLay(info);//添加新内容			
		}  
		
		LTEvent.addListener(obj,"click",shwoInfo); 
	} 
	
	/*显示定位信息*/
	function get_data(data){
		if (data != null) {		 
			var vehicle_id = data['id']; //车辆id
			var gps_id = data['gps_id']; //GPS编号
			var location_time = data['location_time']; //当前定位时间 
			var cur_speed = data['cur_speed'];//当前速度
			var vehicle_group_name = data['group_name']; //车队
			var driver_name = data['driver_name']; //驾驶员
			var location_desc = data['location_desc']; //地址
			
			var context = 
					"<div class='content_div'><div class='title'>GPS编号：</div>" +
					"<div class='content'>"+gps_id + "</div></div>" +
					"<div class='content_div'><div class='title'>车队：</div>" +
					"<div class='content'>"+vehicle_group_name +"</div></div>" +
					"<div class='content_div'><div class='title'>驾驶员：</div>" +
					"<div class='content'>"+driver_name +"</div></div>"+
					"<div class='content_div'><div class='title'>速度：</div> " +
					"<div class='content'>"+cur_speed +"</div></div>" +
					"<div class='content_div'><div class='title'>定位时间：</div>" +
					"<div class='content'>"+location_time +"</div></div>" +
					"<div class='content_div'><div class='title'>地址：</div> " +
					"<div class='address_content'>"+location_desc +"</div></div>";
							
			return context;
		}
	}

</script>

<div id='lat_long'>
   <input type="hidden" id='lonMin'></input>
   <input type='hidden' id='latMin'></input>
   <input type='hidden' id='lonMax'></input>
   <input type='hidden' id='latMax'></input>
</div>
</body>
</html>