<link type="text/css" href="css/info.css"  media="screen" rel="stylesheet" />
<script type="text/javascript" src="js/info/info.js"></script>
<script type="text/javascript" src="js/inquire_trace/popdg_div.js"></script>
<div style="height:330px;">
	<div id="info_publish_area" style="float:left">
		<form id="sendNews" name="sendNews" method="post">
			   <div class="info_bodydiv">
			   		<!--功能选择的div -->
			   		<div>
						<a id="car" name="sel_vehicle" href="#">
						   <img alt="选择车辆"  src="images/infoSelectCar.png"/>选择车辆
						</a>
						<a id="area_issue" name="issue_area" onclick="resetDialogSize(1020,400)" href="#">
						   <img alt="区域发布"  src="images/area.png"/>区域发布
						</a>
					</div>
			   		
			   		<!--写信息的div -->
			  		 <div class="send_info_title">
						<div class="info_font_weight">写信息:</div>
						<div class="info_textarea">
							<textarea id="info_content" name="info_content" rows="4" cols="40"></textarea>
						</div>
					</div>
					
					<!--发布对象列表的div -->
					<div id="da_user" class="da_user">
						<div class="info_send_object">发布对象列表：</div>
						<div id='add_user' class="info_add_user">
							<a id="addUser" href="#"><img alt="添加"  src="images/add.png"/>添加 </a>
						</div>
						<div id='delete_user' class="info_delete_user" >
							<a id="deleteUser" href="#">
							<img alt="删除"  src="images/delete.png" />删除</a>
						</div>
					</div>
						
					<div id='add_input' class="info_add_input">
						<label class="font_weight">收信人手机邮箱：</label></br>
						<ul style="width:300px">
						<li><input id="addInput" type="text" class="addInput"/></li>
						<li><input id="add_commit" type="button" value="添加"/></li>
						<li><input id="cancle_commit" type="button" value="取消"/></li>
					</div>
						
					<div class="info_select">
						<select id="email_list" name="email_list"  multiple class="info_select_input">{{mail_list}}</select>
					</div>
					
			<div class="info_select_area" >
				<div id="city_mode">
					<label for="fromcity">点击选择城市：</label>
					</br>
					<INPUT id=city style="COLOR: #c1c1c1" 
					 onfocus="popUp('city')"  onclick="popUp('city')" value="北京" name="city">
				</div> 
			
			<input type='hidden' id="post_city_name"></input>
						<div id="area_begin_time" class="area_begin_time">
							生效时间:<input id="begin_time_area" type="text" style="width:120px"/>
						</div>
						<div id="area_end_time" class="area_end_time">
							失效时间:<br/>
							<div class="end_time_area">
								<input id="end_time_area" type="text" style="width:120px;"/>
							</div>
							<div class="issue_day_div">		        				<select id="issue_day"> {{day_list}}</select>
							 </div>
						</div>
						<br/>
						
						<div id='info_Commit' class="info_commit">
							<input id="areaCommit" type="button" onclick="subInfo();" value="提交信息"/>
						</div>
						
						<div id='area_Commit' class="info_area_Commit">
							<ul style="width:180px">
							<li><input id="areaCommit" type="button" onclick="subArea();" value="提交信息"/></li>
							<li><input id="returnToInfoDialog" type="button" onclick="returnInfo();" value="返回"/></li>
							<ul>
						</div>
					</div>
					
				</div>
		 </form>
		 </div>
  
 		<!-- 显式车辆选择画面用 -->
 		<div id='infodiv' class="info_sel_vehicle" ></div>
			
		<!-- 显式区域地图用 -->
		<div id="issue_map" style="float:left;height:330px;width:650px;margin-left:10px">
		   <iframe id="issue_frame" height="330px" width="650px" marginwidth="0" marginheight="0" scrolling='no' frameborder="0"></iframe>
		</div>
		 
		 <!-- 页面隐藏域，保存变量用 -->
		 <input type='hidden' id="post_city_name"></input>
		 <input type='hidden' id="is_hidden" value="{{IS_HIDDEN}}"></input>
 </div>
