<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>
<body style="border:1px green solid; width:90%; height:90%;">
<form id="sendNews" name="sendNews" method="post">
	   <div style="float:left;  width:330px; height:280px; margin:5px auto; text-align:center;">
		   <div style="width:326px; height:102px;">
				<div style="font-weight:700; font-size:12px; float:left;width:100px; height:30px;text-align:right; margin-top:30px;">写信息:</div>
				<div style="font-size:12px; float:left;width:216px; height:100px; text-align:left;">
					<textarea id="info_content" name="info_content" rows="4" cols="30"></textarea>
				</div>
		   </div>
		   <div style="width:326px; height:90px; margin-top:10px;">
				<div style="font-weight:700; font-size:12px; float:left; width:100px; height:30px;text-align:right;margin-top:30px;">发送对象列表：</div>
				<div style="font-size:12px; float:left; width:216px; height:90px;text-align:left;">
					<select id="email_list" name="email_list" size="4" multiple style="width:200px; height:85px;">{{mail_list}}</select>
				</div>
	   	   </div>
		   
			<div style=" width:250px; height:34px; text-align:center; margin:20px auto;display:block;" >
				<div style="float:left; font-size:13px; width:100px; height:32px;">
					<input id="car" type="button" name="sel_vehicle" onclick="resetDialogSize(1000,660)" value="选择车辆" />
				</div>
				<div style="float:left; font-size:13px; width:100px; height:32px;">
					<input id="infoCommit" type="button" onclick="subInfo();" value="提交信息"/>
				</div>
			</div>
			
		</div>
		<div id="sel_vehicle_cotainer" style="width:622px;font-size:12px; margin:0px auto; margin-left:3px;height:285px; float:left;"></div>
 </form>
</body>
</html>	



	
<script type="text/javascript">
function fillMailList(str){
str = str.substr(0,str.length-1);
	if(str.length!=0){
		$.post("index.php?a=203&character="+str,function(data){
			if(data != "|"){
				var array=data.split("|");
				for(var i=0;i<array.length-1;i++){
					$("#email_list")[0].options.add(new Option(array[i],array[i])); 
				}
			}
		});
  	}
}
function resetDialogSize(width,height){
	$( "#operation" ).dialog( "option", "width", width );
	$( "#operation" ).dialog( "option", "height", height );
}
//绑定事件处理 
$("#car").click(function(event) {
	$( "#operation" ).mask("载入中...");
	
	$.post("index.php?a=1",function(data){
		$( "#operation" ).unmask();
		$("#sel_vehicle_cotainer").html(data);
		$("#sel_vehicle_commit").click(function(){
				 	var vehicles = $(".vehicle:checked");
			     	var str="";
			     	vehicles.each(function(i){
			         	str = str+$(this).val()+",";
			      	});
			     	
			      	fillMailList(str);
			      	$("#sel_vehicle_cotainer").html("");
			      	$("#sel_vehicle_cotainer").css("height","1");
			      	
			     	resetDialogSize(430,340);
		});
	});
});


function subInfo(){	
	  var content=document.getElementById("info_content").value;
	  var str="";
	  var datalist=document.getElementById('email_list');
	    for (i=0;i<datalist.length;i++) {
			if(i!=0){
	         str=str+datalist.options[i].value+"~";
			}
	    }
	  
	  str=str+content+"~[["+content+"]]~";
	  $.post("index.php",
			  {"a":202,"email_data":str,"content":content},
		function(data){
		  if(data="success"){
			alert("信息已发出");
		  }else{
			alert("信息发出失败");
			return;
		  }
	  },"text");

	  $.post("index.php",{"a":204},function(history){
           if(history="ok"){
           }else{
			alert("保存失败");
           }
		  },"text");
}
</script>

